{% if player_entity_id %}
    <input
        type="hidden"
        name="player"
        value="{{ player_entity_id }}"
    >
{% endif %}
<div class="container mx-auto bg-base-100 rounded-2xl shadow-xl p-10 mb-8" hx-swap="outerHTML" id="game-table">
    <div class="flex justify-between items-center mb-4">
        <h1 class="text-2xl font-bold">Games</h1>
        <div class="flex space-x-2 flex-row">
            <button name="mode" 
                    value="sm5"
                    hx-get="{{ url('game_list')}}?sort={{current_sort}}&page={{ page_obj.number }}"
                    hx-target="#game-table"
                    hx-include="[name='site'], [name='mode'], [name='player']"
                    class="btn {% if current_mode == 'sm5' %}btn-primary{% else %}btn-outline{% endif %}">
                SM5
            </button>
            
            <button name="mode" 
                    value="laserball"
                    hx-get="{{ url('game_list')}}?sort={{current_sort}}&page={{ page_obj.number }}"
                    hx-target="#game-table"
                    hx-include="[name='site'], [name='mode'], [name='player']"
                    class="btn {% if current_mode == 'laserball' %}btn-primary{% else %}btn-outline{% endif %}">
                Laserball
            </button>

            <select name="site" hx-get="{{ url('game_list')}}?sort={{current_sort}}&page={{ page_obj.number }}&mode={{ current_mode }}" hx-target="#game-table" hx-include="[name='site'], [name='mode'], [name='player']" class="select select-primary">
                <option value="" {% if not current_site %}selected{% endif %}>All Sites</option>
                {% for site in sites %}
                    <option value="{{ site }}" {% if current_site == site %}selected{% endif %}>{{ site }}</option>
                {% endfor %}
            </select>
            <button hx-get="{{ url('game_list')}}?sort={{current_sort}}&page={{ page_obj.number }}&mode={{ current_mode }}" hx-target="#game-table" hx-include="[name='site'], [name='mode'], [name='player']" class="btn btn-secondary">Sort by Date</button>
        </div>
    </div>
    <div class="overflow-x-auto">
        <table class="table w-full table-sm">
            <thead>
                <tr>
                    <th>
                        <button hx-get="{{ url('game_list') }}?sort={% if current_sort == 'start_time' %}-start_time{% else %}start_time{% endif %}&page={{ page_obj.number }}&mode={{ current_mode }}" hx-target="#game-table" hx-include="[name='site'], [name='mode'], [name='player']" class="btn btn-ghost">
                            Game
                            {% if current_sort == 'start_time' %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-narrow-wide-icon lucide-arrow-up-narrow-wide"><path d="m3 8 4-4 4 4"/><path d="M7 4v16"/><path d="M11 12h4"/><path d="M11 16h7"/><path d="M11 20h10"/></svg>
                            {% elif current_sort == '-start_time' %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-wide-narrow-icon lucide-arrow-down-wide-narrow"><path d="m3 16 4 4 4-4"/><path d="M7 20V4"/><path d="M11 4h10"/><path d="M11 8h7"/><path d="M11 12h4"/></svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-up-icon lucide-arrow-down-up"><path d="m3 16 4 4 4-4"/><path d="M7 20V4"/><path d="m21 8-4-4-4 4"/><path d="M17 4v16"/></svg>
                            {% endif %}
                        </button>
                    </th>
                    <th>
                        <button hx-get="{{ url('game_list')}}?sort={% if current_sort == 'site' %}-site{% else %}site{% endif %}&page={{ page_obj.number }}&mode={{ current_mode }}" hx-target="#game-table" hx-include="[name='site'], [name='mode'], [name='player']" class="btn btn-ghost">
                            Site
                            {% if current_sort == 'site' %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-narrow-wide-icon lucide-arrow-up-narrow-wide"><path d="m3 8 4-4 4 4"/><path d="M7 4v16"/><path d="M11 12h4"/><path d="M11 16h7"/><path d="M11 20h10"/></svg>
                            {% elif current_sort == '-site' %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-wide-narrow-icon lucide-arrow-down-wide-narrow"><path d="m3 16 4 4 4-4"/><path d="M7 20V4"/><path d="M11 4h10"/><path d="M11 8h7"/><path d="M11 12h4"/></svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-up-icon lucide-arrow-down-up"><path d="m3 16 4 4 4-4"/><path d="M7 20V4"/><path d="m21 8-4-4-4 4"/><path d="M17 4v16"/></svg>
                            {% endif %}
                        </button>
                    </th>
                    <th>
                        <button hx-get="{{ url('game_list') }}?sort={% if current_sort == 'length' %}-length{% else %}length{% endif %}&page={{ page_obj.number }}&mode={{ current_mode }}" hx-target="#game-table" hx-include="[name='site'], [name='mode'], [name='player']" class="btn btn-ghost">
                            Length
                            {% if current_sort == 'length' %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-narrow-wide-icon lucide-arrow-up-narrow-wide"><path d="m3 8 4-4 4 4"/><path d="M7 4v16"/><path d="M11 12h4"/><path d="M11 16h7"/><path d="M11 20h10"/></svg>
                            {% elif current_sort == '-length' %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-wide-narrow-icon lucide-arrow-down-wide-narrow"><path d="m3 16 4 4 4-4"/><path d="M7 20V4"/><path d="M11 4h10"/><path d="M11 8h7"/><path d="M11 12h4"/></svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-up-icon lucide-arrow-down-up"><path d="m3 16 4 4 4-4"/><path d="M7 20V4"/><path d="m21 8-4-4-4 4"/><path d="M17 4v16"/></svg>
                            {% endif %}
                        </button>
                    </th>
                    <th>
                        <button hx-get="{{ url('game_list')}}?sort={% if current_sort == 'outcome' %}-outcome{% else %}outcome{% endif %}&page={{ page_obj.number }}&mode={{ current_mode }}" hx-target="#game-table" hx-include="[name='site'], [name='mode'], [name='player']" class="btn btn-ghost">
                            Outcome
                            {% if current_sort == 'outcome' %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-narrow-wide-icon lucide-arrow-up-narrow-wide"><path d="m3 8 4-4 4 4"/><path d="M7 4v16"/><path d="M11 12h4"/><path d="M11 16h7"/><path d="M11 20h10"/></svg>
                            {% elif current_sort == '-outcome' %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-wide-narrow-icon lucide-arrow-down-wide-narrow"><path d="m3 16 4 4 4-4"/><path d="M7 20V4"/><path d="M11 4h10"/><path d="M11 8h7"/><path d="M11 12h4"/></svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-up-icon lucide-arrow-down-up"><path d="m3 16 4 4 4-4"/><path d="M7 20V4"/><path d="m21 8-4-4-4 4"/><path d="M17 4v16"/></svg>
                            {% endif %}
                        </button>
                    </th>
                    <th>
                        <button hx-get="{{ url('game_list') }}?sort={% if current_sort == 'score' %}-score{% else %}score{% endif %}&page={{ page_obj.number }}&mode={{ current_mode }}" hx-target="#game-table" hx-include="[name='site'], [name='mode'], [name='player']" class="btn btn-ghost">
                            Score
                            {% if current_sort == 'score' %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-narrow-wide-icon lucide-arrow-up-narrow-wide"><path d="m3 8 4-4 4 4"/><path d="M7 4v16"/><path d="M11 12h4"/><path d="M11 16h7"/><path d="M11 20h10"/></svg>
                            {% elif current_sort == '-score' %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-wide-narrow-icon lucide-arrow-down-wide-narrow"><path d="m3 16 4 4 4-4"/><path d="M7 20V4"/><path d="M11 4h10"/><path d="M11 8h7"/><path d="M11 12h4"/></svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-up-icon lucide-arrow-down-up"><path d="m3 16 4 4 4-4"/><path d="M7 20V4"/><path d="m21 8-4-4-4 4"/><path d="M17 4v16"/></svg>
                            {% endif %}
                        </button>
                    </th>
                </tr>
            </thead>    </thead>
            <tbody id="game-table-body">
                {% for game in games %}
                <tr>
                    <td><a href="/games/{{ game.tdf_name }}" class="link link-primary">{{ game.start_time }}</a></td>
                    <td>{{ game.site_id }}</td>
                    <td>{{ game.get_game_duration() // 1000 // 60 }}:{{ '%02d' % (game.get_game_duration() / 1000 % 60) }}</td>
                    <td>{{ game }}</td>
                    <td>{{ game }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="2" class="text-site py-4 text-base-content/50">No games found for this site.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="flex justify-between mt-4">
        <button hx-get="{{ url('game_list') }}?sort={{ current_sort }}&page={% if page_obj.has_previous() %}{{ page_obj.previous_page_number() }}{% else %}1{% endif %}&mode={{ current_mode }}" class="btn btn-outline" {% if not page_obj.has_previous() %}disabled{% endif %}>Previous</button>
        <button hx-get="{{ url('game_list') }}?sort={{ current_sort }}&page={% if page_obj.has_next() %}{{ page_obj.next_page_number() }}{% else %}1{% endif %}&mode={{ current_mode }}" class="btn btn-outline" {% if not page_obj.has_next() %}disabled{% endif %}>Next</button>
    </div>
</div>