<div class="container mx-auto bg-base-100 rounded-2xl shadow-xl p-10 mb-8" hx-swap="outerHTML" id="player-table">
    <div class="flex justify-between items-center mb-4 sm:flex-row flex-col space-y-2 sm:space-y-0 space-x-2">
        <h1 class="text-2xl font-bold">Players</h1>
        <div class="flex space-x-2 sm:flex-row flex-col space-y-2 sm:space-y-0">
            <div class="flex flex-row md:space-x-2 space-x-0 px-2 justify-between sm:space-y-0 space-y-2">
                <button name="mode" 
                        value="sm5"
                        hx-get="{{ url('players')}}?sort={{current_sort}}&page={{ page_obj.number }}"
                        hx-target="#player-table"
                        hx-include="[name='site'], [name='mode']"
                        hx-vals="js:{'date_range': document.getElementById('date_picker').value}"
                        class="btn {% if current_mode == 'sm5' %}btn-primary{% else %}btn-outline{% endif %}">
                    SM5
                </button>
                
                <button name="mode" 
                        value="laserball"
                        hx-get="{{ url('players')}}?sort={{current_sort}}&page={{ page_obj.number }}"
                        hx-target="#player-table"
                        hx-include="[name='site'], [name='mode']"
                        hx-vals="js:{'date_range': document.getElementById('date_picker').value}"
                        class="btn {% if current_mode == 'laserball' %}btn-primary{% else %}btn-outline{% endif %}">
                    Laserball
                </button>
            </div>

            <select name="site"
                    hx-get="{{ url('players')}}?sort={{current_sort}}&page={{ page_obj.number }}&mode={{ current_mode }}"
                    hx-target="#player-table"
                    hx-include="[name='site'], [name='mode']"
                    hx-vals="js:{'date_range': document.getElementById('date_picker').value}"
                    class="select">
                <option value="" {% if not current_site %}selected{% endif %}>All Sites</option>
                {% for site in COMPETITIVE_SITES.values() %}
                    <option value="{{ site.id }}" {% if current_site == site.id %}selected{% endif %}>{{ site.name }}</option>
                {% endfor %}
            </select>
            
            <!-- cally calendar popover button styled with daisyUI -->
            <button popovertarget="cally-popover" class="input input-bordered w-full flex items-center justify-between text-left" id="date-display" style="anchor-name:--cally-btn">
                <span id="current-date-label">
                    {% if current_date_range %}
                        {{ date_range_display }}
                    {% else %}
                        Sort by Date
                    {% endif %}
                </span>
                <svg xmlns="http://w3.org" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar"><path d="M8 2v3"/><path d="M16 2v3"/><rect x="3" y="3" width="18" height="18" rx="2"/><path d="M3 9h18"/></svg>
            </button>

            <!-- cally calendar popover content styled with daisyUI -->
            <div popover id="cally-popover" class="dropdown-content bg-base-100 rounded-box shadow-xl border border-base-200 mt-2 p-4" style="position-anchor: --cally-btn; top: anchor(bottom); left: anchor(left);">

                <calendar-range
                    class="cally"
                    id="date_picker"
                    name="date_range"
                    value="{{ current_date_range }}"
                    hx-get="{{ url('players') }}?sort={{current_sort}}&page={{ page_obj.number }}&mode={{ current_mode }}"
                    hx-target="#player-table"
                    hx-include="[name='site'], [name='mode']"
                    hx-vals="js:{'date_range': document.getElementById('date_picker').value}"
                    hx-trigger="change">
                    
                    <button slot="previous" class="btn btn-sm btn-ghost btn-circle">❮</button>
                    <button slot="next" class="btn btn-sm btn-ghost btn-circle">❯</button>

                    <calendar-select-year slot="heading" max-years="14" class="w-24 text-center"></calendar-select-year>
                    
                    <calendar-month></calendar-month>
                </calendar-range>
            </div>
        </div>
    </div>
    <div class="overflow-x-auto">
        <table class="table w-full table-sm">
            <thead>
                <tr>
                    <th>
                        <button
                            hx-get="{{ url('players')}}?sort={% if current_sort == 'codename' %}-codename{% else %}codename{% endif %}&page={{ page_obj.number }}&mode={{ current_mode }}"
                            hx-target="#player-table"
                            hx-include="[name='site'], [name='mode']"
                            hx-vals="js:{'date_range': document.getElementById('date_picker').value}"
                            class="btn btn-ghost">
                            Codename
                            {% if current_sort == 'codename' %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-narrow-wide-icon lucide-arrow-up-narrow-wide"><path d="m3 8 4-4 4 4"/><path d="M7 4v16"/><path d="M11 12h4"/><path d="M11 16h7"/><path d="M11 20h10"/></svg>
                            {% elif current_sort == '-codename' %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-wide-narrow-icon lucide-arrow-down-wide-narrow"><path d="m3 16 4 4 4-4"/><path d="M7 20V4"/><path d="M11 4h10"/><path d="M11 8h7"/><path d="M11 12h4"/></svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-up-icon lucide-arrow-down-up"><path d="m3 16 4 4 4-4"/><path d="M7 20V4"/><path d="m21 8-4-4-4 4"/><path d="M17 4v16"/></svg>
                            {% endif %}
                        </button>
                    </th>
                    <th>
                        <button
                            hx-get="{{ url('players') }}?sort={% if current_sort == 'home_site_id' %}-home_site_id{% else %}home_site_id{% endif %}&page={{ page_obj.number }}&mode={{ current_mode }}"
                            hx-target="#player-table"
                            hx-include="[name='site'], [name='mode']"
                            hx-vals="js:{'date_range': document.getElementById('date_picker').value}"
                            class="btn btn-ghost">
                            Home Site
                            {% if current_sort == 'home_site_id' %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-narrow-wide-icon lucide-arrow-up-narrow-wide"><path d="m3 8 4-4 4 4"/><path d="M7 4v16"/><path d="M11 12h4"/><path d="M11 16h7"/><path d="M11 20h10"/></svg>
                            {% elif current_sort == '-home_site_id' %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-wide-narrow-icon lucide-arrow-down-wide-narrow"><path d="m3 16 4 4 4-4"/><path d="M7 20V4"/><path d="M11 4h10"/><path d="M11 8h7"/><path d="M11 12h4"/></svg>
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-up-icon lucide-arrow-down-up"><path d="m3 16 4 4 4-4"/><path d="M7 20V4"/><path d="m21 8-4-4-4 4"/><path d="M17 4v16"/></svg>
                            {% endif %}
                        </button>
                    </th>
                    <th>
                        <button
                            hx-get="{{ url('players') }}?sort={% if current_sort == 'ratings' %}-ratings{% else %}ratings{% endif %}&page={{ page_obj.number }}&mode={{ current_mode }}"
                            hx-target="#player-table"
                            hx-include="[name='site'], [name='mode']"
                            hx-vals="js:{'date_range': document.getElementById('date_picker').value}"
                            class="btn btn-ghost">
                            Rating
                            {% if current_sort == 'ratings' %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-narrow-wide-icon lucide-arrow-up-narrow-wide"><path d="m3 8 4-4 4 4"/><path d="M7 4v16"/><path d="M11 12h4"/><path d="M11 16h7"/><path d="M11 20h10"/></svg>
                            {% elif current_sort == '-ratings' %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-wide-narrow-icon lucide-arrow-down-wide-narrow"><path d="m3 16 4 4 4-4"/><path d="M7 20V4"/><path d="M11 4h10"/><path d="M11 8h7"/><path d="M11 12h4"/></svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-up-icon lucide-arrow-down-up"><path d="m3 16 4 4 4-4"/><path d="M7 20V4"/><path d="m21 8-4-4-4 4"/><path d="M17 4v16"/></svg>
                            {% endif %}
                        </button>
                    </th>
                    <th>
                        <button
                            hx-get="{{ url('players') }}?sort={% if current_sort == 'games' %}-games{% else %}games{% endif %}&page={{ page_obj.number }}&mode={{ current_mode }}"
                            hx-target="#player-table" hx-include="[name='site'], [name='mode']"
                            hx-vals="js:{'date_range': document.getElementById('date_picker').value}"
                            class="btn btn-ghost">
                            Games
                            {% if current_sort == 'games' %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-narrow-wide-icon lucide-arrow-up-narrow-wide"><path d="m3 8 4-4 4 4"/><path d="M7 4v16"/><path d="M11 12h4"/><path d="M11 16h7"/><path d="M11 20h10"/></svg>
                            {% elif current_sort == '-games' %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-wide-narrow-icon lucide-arrow-down-wide-narrow"><path d="m3 16 4 4 4-4"/><path d="M7 20V4"/><path d="M11 4h10"/><path d="M11 8h7"/><path d="M11 12h4"/></svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-up-icon lucide-arrow-down-up"><path d="m3 16 4 4 4-4"/><path d="M7 20V4"/><path d="m21 8-4-4-4 4"/><path d="M17 4v16"/></svg>
                            {% endif %}
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody id="player-table">
                {% for player in players %}
                <tr>
                    <td><a href="/players/{{ player.entity_id[1:] }}" class="link link-primary">{{ player.codename }}</a></td>
                    <td>{{ player.home_site.name }}</td>
                    <td title="{{player.get_all_ratings_formatted()}}">{{ "%.3f"|format((player.rating if player.rating else 0.0)) }}</td>
                    <td>{{ player.games }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="2" class="text-center py-4 text-base-content/50">No players found for this site.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="flex justify-between mt-4">
        <button
            hx-get="{{ url('players') }}?sort={{ current_sort }}&page={% if page_obj.has_previous() %}{{ page_obj.previous_page_number() }}{% else %}1{% endif %}&mode={{ current_mode }}"
            hx-target="#player-table"
            hx-include="[name='site'], [name='mode']"
            hx-vals="js:{'date_range': document.getElementById('date_picker').value}"
            class="btn btn-outline"
            {% if not page_obj.has_previous() %}disabled{% endif %}>
            Previous
        </button>
        <button
            hx-get="{{ url('players') }}?sort={{ current_sort }}&page={% if page_obj.has_next() %}{{ page_obj.next_page_number() }}{% else %}1{% endif %}&mode={{ current_mode }}"
            hx-target="#player-table"
            hx-include="[name='site'], [name='mode']"
            hx-vals="js:{'date_range': document.getElementById('date_picker').value}"
            class="btn btn-outline"
            {% if not page_obj.has_next() %}disabled{% endif %}>
            Next
        </button>
    </div>
</div>