.team_box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0.5em;
    margin-left: 5em;
    margin-right: 5em;
}

.team {
    display: inline-block;
    height: 35%;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    vertical-align: top;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#teams {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

table {
    margin: auto;
    padding: 1rem;
    border: 1px solid lightgray;
    border-collapse: collapse;
    width: 100%;
    color: lightgray;
}

th, td, tr {
    text-align: center;
    border: 1px solid lightgray;
}

td {
    padding: 2px;
}

tr:nth-child(even) {
    background-color: #252525;
}

body {
    height: 130vh;
}

.role {
    width: 50px;
}

.desktop_notif {
    text-align: center;
    display: none;
}

.score-chart {
    width: 90%;
    position: relative;
    height: 500px;
    margin: auto;
}

.lives-chart {
    width: 90%;
    position: relative;
    height: 500px;
    margin: auto;
}

.notable-style-picker {
    text-align: center;
}

.win-chances {
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: center;
}

.win-chance-before-game, .win-chance {
    width: 50%;
    position: relative;
}

@media screen and (max-width: 991px) {
    .userlist {
        background: none;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    h2, h3 {
        zoom: 1.5;
    }

    .team_score {
        zoom: 2;
    }

    table {
        table-layout: auto;
        width: 100%;
    }

    tr:nth-child(even) > td:nth-child(1) {
        background-color: #252525;
    }

    tr:nth-child(odd) > td:nth-child(1) {
        background-color: var(--alternate-table-background-color);
    }

    tr:nth-child(even) > td:nth-child(2) {
        background-color: #252525;
    }

    tr:nth-child(odd) > td:nth-child(2) {
        background-color: var(--alternate-table-background-color);
    }

    tr > th:nth-child(1) {
        background-color: var(--alternate-table-background-color);
    }

    tr > th:nth-child(2) {
        background-color: var(--alternate-table-background-color);
    }

    .team {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }

    #teams {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .role {
        width: 75px;
        min-width: 75px;
    }

    .desktop_notif {
        display: block;
    }

    #content {
        height: 100%;
    }

    body {
        height: 85%;
    }

    .score-chart {
        margin-bottom: 5rem;
        height: 300px;
    }

    #score_chart {
        width: 100% !important;
        height: 100% !important;
    }

    .lives-chart {
        margin-bottom: 5rem;
        height: 300px;
    }

    #lives_chart {
        width: 100% !important;
        height: 100% !important;
    }

    .win-chance-before-game, .win-chance {
        width: 80% !important;
        margin: auto;
        margin-bottom: 5rem;
    }

    #win_chance_before_game, #win_chance {
        width: 100% !important;
        height: 100% !important;
        margin: auto;
    }

    .win-chances {
        flex-direction: column;
    }
}

.mini-chart {
    width: 32px;
    position: relative;
}

.link-button {
    background: none;
    border: none;
    color: #2fa4e7;
    cursor: pointer;
    font-size: 1em;
    margin: 0;
    font-family: Inter, Helvetica Neue, Tahoma, Arial, Hiragino Kaku Gothic ProN, Meiryo, Microsoft YaHei, Apple SD Gothic Neo, sans-serif;
}

.link-button h3 {
    margin: 0;
}

.link-button:focus {
    outline: none;
}
