.legend-color-header {
    margin-bottom: 16px;
}

.legend-color-entry {
    margin-bottom: 4px;
    display: flex;
}

.legend-color-demo {
    width: 3em;
    min-width: 3em;
    height: 16px;
    display: inline-block;
}

.legend-color-description {
    margin-left: 8px;
}

