.important {
    color: #336699;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.95) 0%, rgba(26, 26, 26, 0.76) 100%);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.paging {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 24;
}

.win-chance {
    position: relative;
    height: 4rem;
    display: flex;
    justify-content: center;
}

.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #0096FF;
    color: white;
}

.content {
    margin-top: 20px;
}

body {
    background-color: #121212;
}

h1 {
    margin-bottom: 0;
}

h3, h5 {
    margin-top: 0.75rem;
    margin-bottom: 0;
}

h1, h3, h5 {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: auto;
    padding: 1rem;
    border: 1px solid lightgray;
    border-collapse: collapse;
    width: 80%;
}

tr:nth-child(even) {
    background-color: #252525;
}

th, td, tr {
    text-align: center;
    border: 1px solid lightgray;
    padding: 5px;
}

td {
    color: lightgray;
}

.recent_games {
    margin-top: 5rem;
    margin-bottom: 5rem;

    margin-left: auto;
    margin-right: auto;
}

.info-div {
    float: left;
    margin-left: 0;
    margin-right: 0;
}

.ipl-div {
    float: right;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.094rem;
}

.right_align {
    text-align: right;
}

.button-div {
    float: left;
}

.left-div {
    float: left;
    margin: auto;
    margin-top: 2rem;
}

.left-side {
    float: left;
}

.right-side {
    float: right;
}

.rating-over-time {
    position: relative;
    width: 500px;
    margin-top: 2rem;
    height: 400px;
    float: left;
}

@media screen and (max-width: 991px) {
    .mobile-middle {
        text-align: center;
        margin: auto;
        float: none;
    }

    .btn {
        height: 6em;
    }

    h1 {
        text-align: center;
    }

    .info-div {
        float: none;
        margin: auto;
        zoom: 1.5;
    }

    .info-div span {
        text-align: center;
    }

    .ipl-div {
        text-align: center;
        float: none;
        margin: auto;
        zoom: 1.5;
    }

    .userlist {
        margin: auto;
        width: 90%;
    }

    .recent_games {
        margin-top: 2.5rem;
    }

    table tr td:nth-child(n+6) {
        display: none;
    }

    table tr th:nth-child(n+6) {
        display: none;
    }

    .recent_games h2 {
        zoom: 1.5;
    }

    .right_align {
        text-align: center;
    }

    .button-div {
        float: none;
        margin: auto;
    }

    .left-div {
        float: none;
    }

    .left-side {
        float: none;
        margin: auto;
    }

    .right-side {
        float: none;
        margin: auto;
    }
}

@media screen and (min-width: 992px) {
    .stats {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 2rem;
    }
}
