{% extends "admin/adminbase.html" %}
{% block title %}Manage Games{% endblock %}


{% block html_head %}
<link rel="stylesheet" href="/assets/css/admin/games.css">

<script>
    function sortTable(n, table_name) {
        var table, rows, switching, i, x, y, should_switch, dir, switchcount = 0;
        table = document.getElementById(table_name);
        switching = true;
        dir = "asc";
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                should_switch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                console.log(x.textContent, y.textContent, x.textContent > y.textContent);

                if (!isNaN(x.textContent)) {
                    var inner_x = Number(x.textContent);
                }
                // dates
                else if (x.textContent.includes("/")) {
                    var inner_x = new Date(x.textContent);
                }
                else {
                    var inner_x = x.textContent.toLowerCase();
                }

                if (!isNaN(y.textContent)) {
                    var inner_y = Number(y.textContent);
                }
                // dates
                else if (y.textContent.includes("/")) {
                    var inner_y = new Date(y.textContent);
                }
                else {
                    var inner_y = y.textContent.toLowerCase();
                }

                if (dir == "asc") {
                    if (inner_x > inner_y) {
                        should_switch = true;
                        break;
                    }
                }
                else if (dir == "desc") {
                    if (inner_x < inner_y) {
                        should_switch = true;
                        break;
                    }
                }
            }
            if (should_switch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount ++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
        }

    current_mode = "{{ mode }}"

    function switch_mode(mode) {
        if (mode == "sm5") {
            document.getElementById("sm5_mode_header").style.backgroundColor = "#252525";
            document.getElementById("laserball_mode_header").style.backgroundColor = "transparent";
            document.getElementById("sm5_game_table").style.display = "table";
            document.getElementById("laserball_game_table").style.display = "none";

            document.getElementById("next_href").href = "/admin/games?page={{ page+1 }}&mode=sm5";
            document.getElementById("prev_href").href = "/admin/games?page={{ page-1 }}&mode=sm5";

            current_mode = "sm5";
        }
        else if (mode == "laserball") {
            document.getElementById("sm5_mode_header").style.backgroundColor = "transparent";
            document.getElementById("laserball_mode_header").style.backgroundColor = "#252525";
            document.getElementById("sm5_game_table").style.display = "none";
            document.getElementById("laserball_game_table").style.display = "table";

            document.getElementById("next_href").href = "/admin/games?page={{ page+1 }}&mode=laserball";
            document.getElementById("prev_href").href = "/admin/games?page={{ page-1 }}&mode=laserball";

            current_mode = "laserball";
        }
    }

    document.onreadystatechange = function(e) {
        if (document.readyState === 'complete') {
            sortTable(0, "sm5_game_table");
            sortTable(0, "sm5_game_table");
            sortTable(0, "laserball_game_table");
            sortTable(0, "laserball_game_table");
            switch_mode(current_mode);
        }
    }
</script>

{% endblock %}

{% block content %}

<div class="table-div">
    <table id="mode_table">
        <tr>
            <th onclick="switch_mode('sm5')" id="sm5_mode_header">SM5</th>
            <th onclick="switch_mode('laserball')" id="laserball_mode_header">Laserball</th>
        </tr>
    </table>

    <table id="sm5_game_table">
        <tbody>
            <tr>
                <th onclick="sortTable(0)">Date Played</th>
                <th onclick="sortTable(1)">Mission</th>
                <th onclick="sortTable(2)">Winner</th>
                <th onclick="sortTable(3)">Ended Early</th>
                <th onclick="sortTable(4)">Ranked</th>
            </tr>
            {% for game in sm5_games %}
                <tr>
                    <td><a href="/admin/game/sm5/{{game.id}}">{{ game.start_time.strftime("%Y/%m/%d %I:%M %p") }}</a></td>
                    <td>{{ game.mission_name }}</td>
                    {% if not game.winner %}
                        <td style="color: grey;">None</td>
                    {% elif game.winner.value == "blue" %}
                        <td style="color: #0096FF;">{{ game.winner.standardize() }}</td>
                    {% elif game.winner.value == "red" %}
                        <td style="color: orangered;">{{ game.winner.standardize() }}</td>
                    {% else %}
                        <td style="color: greenyellow;">{{ game.winner.standardize() }}</td>
                    {% endif %}
                    <td style="color: {{ 'greenyellow' if game.ended_early else 'orangered' }}; font-size: 1.5rem;">{{ "✓" if game.ended_early else "✕" }}</td>
                    <td style="color: {{ 'greenyellow' if game.ranked else 'orangered' }}; font-size: 1.5rem;">{{ "✓" if game.ranked else "✕" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table id="laserball_game_table" style="display: none;">
        <tbody>
            <tr>
                <th onclick="sortTable(0)">Date Played</th>
                <th onclick="sortTable(1)">Mission</th>
                <th onclick="sortTable(2)">Winner</th>
                <th onclick="sortTable(3)">Ended Early</th>
                <th onclick="sortTable(4)">Ranked</th>
            </tr>
            {% for game in laserball_games %}
                <tr>
                    <td><a href="/admin/game/laserball/{{game.id}}">{{ game.start_time.strftime("%Y/%m/%d %I:%M %p") }}</a></td>
                    <td>{{ game.mission_name }}</td>
                    {% if not game.winner %}
                        <td style="color: grey;">None</td>
                    {% elif game.winner.value == "blue" %}
                        <td style="color: #0096FF;">{{ game.winner.standardize() }}</td>
                    {% elif game.winner.value == "red" %}
                        <td style="color: orangered;">{{ game.winner.standardize() }}</td>
                    {% else %}
                        <td style="color: greenyellow;">{{ game.winner.standardize() }}</td>
                    {% endif %}
                    <td style="color: {{ 'greenyellow' if game.ended_early else 'orangered' }}; font-size: 1.5rem;">{{ "✓" if game.ended_early else "✕" }}</td>
                    <td style="color: {{ 'greenyellow' if game.ranked else 'orangered' }}; font-size: 1.5rem;">{{ "✓" if game.ranked else "✕" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if page > 0 %}<a href="/admin/games?page={{ page-1 }}" id="prev_href"><p style="float: left;">Prev</p></a>{% endif %}
    <a href="/admin/games?page={{ page+1 }}" id="next_href"><p style="float: right;">Next</p></a>
</div>

{% endblock %}