{% extends "admin/adminbase.html" %}
{% block title %}Dashboard{% endblock %}


{% block html_head %}
<style>
    #banner_text {
        width: 400px;
        background: #262626;
        border: 1px solid #999;
        border-radius: 4px;
        color: #fff;
        height: 4em;
        font-size: 1em;
        padding: 0.5em;
    }

    #banner_type {
        width: 200px;
        background: #262626;
        border: 1px solid #999;
        border-radius: 4px;
        color: #fff;
        height: 4em;
        font-size: 1em;
        padding: 0.5em;
    }
</style>

<script>
    function getCookie() {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(";");
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, 10) === ("csrftoken=")) {
                    cookieValue = decodeURIComponent(cookie.substring(10));
                    break;
                }
            }
        }
        return cookieValue;
    }



    function recalculate_ratings() {
        alert("Recalculating ratings in background...");
        fetch("/admin/recalculate_ratings", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCookie("csrftoken")
            }
        });
    }

    function recalculate_sm5_ratings() {
        alert("Recalculating sm5 ratings in background...");
        fetch("/admin/recalculate_sm5_ratings", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCookie("csrftoken")
            }
        });
    }

    function recalculate_laserball_ratings() {
        alert("Recalculating laserball ratings in background...");
        fetch("/admin/recalculate_laserball_ratings", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCookie("csrftoken")
            }
        });
    }

    function migrate_games() {
        alert("Migrating games in background...");
        fetch("/admin/migrate_games", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCookie("csrftoken")
            }
        });
    }

    function backfill_events() {
        alert("Backfilling events in background...");
        fetch("/admin/backfill_events", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCookie("csrftoken")
            }
        });
    }

    function flush_cache() {
        alert("Flushing cache in background...");
        fetch("/admin/flush_cache", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCookie("csrftoken")
            }
        });
    }

    function set_banner() {
        let text = document.getElementById("banner_text").value;
        let type = document.getElementById("banner_type").value;

        fetch("/admin/set_banner", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCookie("csrftoken")
            },
            body: JSON.stringify({
                "text": text,
                "type": type
            })
        });

        alert("Banner set!");
    }

</script>
{% endblock %}

{% block content %}

<h1 style="text-align: center;">Dashboard</h1>

<div style="display: flex; flex-direction: row; gap: 10px;">
    <button onclick="recalculate_ratings()" class="button">Recalculate Ratings</button>
    <button onclick="recalculate_sm5_ratings()" class="button">Recalculate SM5 Ratings</button>
    <button onclick="recalculate_laserball_ratings()" class="button">Recalculate Laserball Ratings</button>
    <button onclick="migrate_games()" class="button">Migrate Games</button>
    <button onclick="backfill_events()" class="button">Backfill Events</button>
    <button onclick="flush_cache()" class="button">Flush Cache</button>
</div>

<!-- Banner -->

<div style="display: flex; flex-direction: row; gap: 10px; margin-top: 5rem;">
    <input type="text" id="banner_text" placeholder="Banner Text" id="banner_text">
    <select id="banner_type" id="banner_type">
        <option value="info">Info</option>
        <option value="warning">Warning</option>
        <option value="danger">Danger</option>
    </select>
    <button onclick="set_banner()" class="button">Set Banner</button>

{% endblock %}