{% extends "admin/adminbase.html" %}
{% block title %}Viewing Player{% endblock %}


{% block html_head %}
<link rel="stylesheet" href="../../css/admin/player.css">

<script>
    async function addTag() {
        if (!portOpen) {
            await openPort();
            setTimeout(readPortData, 0);
        }

        console.log("Waiting for tag");

        if (mostRecentTag == null) {
            // loop until a tag is scanned
            setTimeout(addTag, 1000, true);
        }
        else {
            fetch("/admin/player/{{ player.player_id }}/add_tag", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    "tag": mostRecentTag,
                }),
            }).then(response => {
                if (response.ok) {
                    location.reload();
                }
                else {
                    alert("Failed to add tag");
                }
            });
        }
    }
</script>
{% endblock %}

{% block content %}

<div style="display: flex; align-items: center; flex-direction: column; gap: 1em;">
    <h1>{{ player.codename }}</h1>
    <h3>{{ player.player_id }}</h3>
    <h5>{{ player.entity_id }}</h5>

    <br>

    <h2>RFID Tags</h2>

    <button onclick="addTag()">Add Tag</button>

    {% for tag in player.rfid_tags %}
        <h3>{{ str(tag).rjust(10, "0") }}</h3>
    {% endfor %}

</div>

{% endblock %}