{% extends "admin/adminbase.html" %}
{% block title %}Manage Players{% endblock %}


{% block html_head %}
<link rel="stylesheet" href="/assets/css/admin/players.css">
{% endblock %}

{% block content %}

<h1 style="text-align: center;">Manage Players</h1>

<div class="table-div">
    <table id="player_table">
        <tbody>
            <tr>
                <th onclick="sortTable(0)">Codename</th>
                <th onclick="sortTable(1)">Player ID</th>
                <th onclick="sortTable(2)">SM5 Rating</th>
                <th onclick="sortTable(3)">Laserball Rating</th>
            </tr>
            {% for player in players %}
                {% if not loop.index > 25 %}
                    <tr>
                        <td><a href="/admin/player/{{ player.codename }}">{{ player.codename }}</a></td>
                        <td>{{ player.player_id }}</td>
                        <td title="mu: {{player.sm5_mu|round(2)}}, sigma: {{player.sm5_sigma|round(2)}}">{{ player.sm5_ordinal|round(2) }}</td>
                        <td>{{ player.laserball_ordinal|round(2) }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% if page > 0 %}<a href="/admin/players?page={{ page-1 }}"><p style="float: left;">Prev</p></a>{% endif %}
    <a href="/admin/players?page={{ page+1 }}"><p style="float: right;">Next</p></a>
</div>

{% endblock %}