{% extends "admin/adminbase.html" %}
{% block title %}Viewing Player{% endblock %}


{% block html_head %}
<link rel="stylesheet" href="/assets/css/admin/player.css">

{% endblock %}

{% block content %}

<div style="display: flex; align-items: center; flex-direction: column; gap: 1em;">
    <h1>{{ player.codename }}</h1>
    <h3>{{ player.player_id }}</h3>
    <h5>{{ player.entity_id }}</h5>

    <br>

    <h2>RFID Tags</h2>

    <button onclick="addTag(`{{ player.player_id }}`)">Add Tag</button>

    {% for tag in player.tags %}
        <h3>{{ str(tag.id).rjust(10, "0") }}</h3>
    {% endfor %}

</div>

{% endblock %}