<div class="bg-base-100 rounded-2xl shadow-xl p-4 sm:p-10 mb-4 w-full me-8" hx-swap="outerHTML" id="team-table-{{ team_index }}">
    <div class="flex justify-between items-center mb-4">
        <h1 class="text-xl sm:text-2xl font-bold">Team {{ (team_index|int)+1 }}</h1>
        <!--win chance %-->

            <h2 class="text-lg sm:text-md font-semibold text-base-content/70" id="team-win-chance-{{ team_index }}">

            </h2>
            <button class="btn btn-sm btn-error" hx-target="#teams" hx-swap="outerHTML" disabled>
                Remove Team
            </button>

    </div>
    <div class="py-4">
        <table class="table w-full table-sm table-fixed">
            <thead class="team-table-head" id="team-table-head-{{ team_index }}">
                <tr>
                    <th>Codename</th>
                    <th>Rating</th>
                    <th {% if not roles_enabled %}class="hidden"{% endif %}>Role</th>
                    <th {% if not roles_enabled %}class="hidden"{% endif %}>Lock</th>
                </tr>
            </thead>
            <tbody class="team-table-body" id="team-table-body-{{ team_index }}">
                {% for player, role, lock in zip(team, roles, locks) %}
                <tr data-entity-id="{{ player.entity_id }}" data-role="{{ role.name.lower() if role else 'other' }}" data-lock="{{ lock if lock else 'none'}}" class="cursor-move">
                    <td class="py-2">
                        {% if not player.entity_id.startswith('unrated-') %}
                        <a href="/players/{{ player.entity_id[1:] }}" class="link link-primary">{{ player.codename }}</a>
                        {% else %}
                        {{ player.codename }}
                        {% endif %}
                    </td>
                    <td class="py-2">{{ "%.3f"|format((player.rating if player.rating else 0.0)) }}</td>
                    <td class="py-2 {% if not roles_enabled %}hidden{% endif %}">
                        {% with identifier=player.entity_id, role=role if role else IntRole.OTHER %}
                            {% include 'partials/matchmaker/role_dropdown.html' %}
                        {% endwith %}
                    </td>
                    <td class="py-2 {% if not roles_enabled %}hidden{% endif %}">
                        {% with identifier=player.entity_id %}
                            {% include 'partials/matchmaker/lock_dropdown.html' %}
                        {% endwith %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>window.win_chances = {{ win_chances|tojson }};</script>