.info_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: center;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

@media screen and (max-width: 991px) {
    .info_div {
        width: 90%;
    }
}