<form class="modal-content animate" action="/log_laserball" method="post">
    <div class="container">
      <select name="winner" required>
        <option value="red">Red</option>
        <option value="blue">Blue</option>
      </select><br><br>

      {% for i in range(1, 8+1) %}
      <input type="text" placeholder="Blue Codename {{i}}" name="bname{{i}}">
      <input type="text" placeholder="Blue Goals {{i}}" name="bgoals{{i}}">
      <input type="text" placeholder="Blue Assists {{i}}" name="bassists{{i}}">
      <input type="text" placeholder="Blue Steals {{i}}" name="bsteals{{i}}">
      <input type="text" placeholder="Blue Clears {{i}}" name="bclears{{i}}">
      <input type="text" placeholder="Blue Blocks {{i}}" name="bblocks{{i}}"><br><br>
      {% endfor %}

      {% for i in range(1, 8+1) %}
      <input type="text" placeholder="Red Codename {{i}}" name="rname{{i}}">
      <input type="text" placeholder="Red Goals {{i}}" name="rgoals{{i}}">
      <input type="text" placeholder="Red Assists {{i}}" name="rassists{{i}}">
      <input type="text" placeholder="Red Steals {{i}}" name="rsteals{{i}}">
      <input type="text" placeholder="Red Clears {{i}}" name="rclears{{i}}">
      <input type="text" placeholder="Red Blocks {{i}}" name="rblocks{{i}}"><br><br>
      {% endfor %}

      <input type="text" placeholder="Password" name="password"><br><br>
      <button type="submit">Submit</button>
    </div>
</form>