{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<!--about page daisyui tailwind -->

<div class="bg-base-100 rounded-2xl shadow-xl p-10 mb-8 text-left">
    <h1 class="text-4xl font-bold">About</h1>
    <p class="py-6 text-base-content/70">This site was made for Invasion Laser Tag members to track and compare their stats to others while providing a more fair and balanced matchmaking system for SM5 and Laserball. The project is made for fun but improvements will continue to be made.</p>
    <p class="py-6 text-base-content/70">Made with Python (PyPy) 3.10 and Django. The ranking system uses a heavily modified version of Microsoft's TrueSkill algorithm.</p>
    <p class="py-6 text-base-content/70">The goal is to create a more balanced matchmaking system for SM5 and Laserball to create more fair, fun, and competitive games. Games where teams are evenly matched are more fun for everyone. This project also serves as a way to track your stats and see how you compare to other players.</p>
    <p class="py-6 text-base-content/70">The ranking system used in this project is a heavily modified version of the TrueSkill algorithm. It is a Bayesian ranking system that takes into account the number of players, the number of teams, and the number of players per team. It is also used in games such as Halo 5. For this use case, the algorithm is modified to take into account player performance for each game. The reason for this is so that you can't just be carried by your team to a higher rank. This ranking system is used for both SM5 and Laserball to create more fair and balanced games. </p>
    <p class="py-6 text-base-content/70">This project is open source, meaning the code is free to use and modify (with the restrictions of the licensing). You can find the code on my GitHub page <a href="https://github.com/spookybear0/laserforce_ranking">here</a>. If you have any questions about usage or want to contribute in the form of code or suggestions, please contact me at <a href="mailto:chloecarroll103@gmail.com">chloecarroll103@gmail.com</a>.</p>
    <p class="py-6 text-base-content/70">API documentation can be found <a>here</a>.</p>
</div>

{% endblock %}