{% extends 'base.html' %}

{% block title %}{{ player.codename }} | LF Ranking{% endblock %}

{% block content %}

<div class="bg-base-100 rounded-2xl shadow-xl p-10 mb-8 text-left flex items-center gap-2">
    <h1 class="text-4xl font-bold">{{ player.codename }}</h1>
    <a class="link link-primary" href="http://www.iplaylaserforce.com/mission-stats/?t={{ player.entity_id[1:] }}" target="_blank" rel="noopener noreferrer"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-external-link-icon lucide-external-link"><path d="M15 3h6v6"/><path d="M10 14 21 3"/><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/></svg></a>
</div>

{% include 'partials/game_table.html' %}

{% endblock %}