{% extends "base.html" %}
{% block title %}Viewing {{ player.codename }}{% endblock %}

{% block html_head %}

<style type="text/css">
    .important {
        color: #336699;
    }

    .sidebar {
        margin: 0;
        padding: 0;
        width: 200px;
        background: linear-gradient(180deg, rgba(26, 26, 26, 0.95) 0%, rgba(26, 26, 26, 0.76) 100%);
        position: fixed;
        height: 100%;
        overflow: auto;
    }

    .sidebar a {
        display: block;
        color: white;
        padding: 16px;
        text-decoration: none;
    }

    .sidebar a.active {
        background-color: #0096FF;
        color: white;
    }

    .content {
        margin-top: 20px;
    }

    body {
        background-color: #121212;
    }

    h1 {
        margin-bottom: 0;
    }

    h3, h5 {
        margin-top: 0.75rem;
        margin-bottom: 0;
    }

    h1, h3, h5 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    table {
        margin: auto;
        padding: 1rem;
        border: 1px solid lightgray;
        border-collapse: collapse;
        width: 80%;
    }

    tr:nth-child(even) {
        background-color: #252525;
    }

    th, td, tr {
        text-align: center;
        border: 1px solid lightgray;
        padding: 5px;
    }

    td {
        color: lightgray;
    }

    .recent_games {
        margin-top: 5rem;
        margin-bottom: 5rem;

        margin-left: auto;
        margin-right: auto;
    }

    .info-div {
        float: left;
        margin-left: 0;
        margin-right: 0;
    }

    .ipl-div {
        float: right;
        margin-left: 0;
        margin-right: 0;
        margin-top: 2.094rem;
    }

    .right_align {
        text-align: right;
    }

    .button-div {
        float: left;
    }

    .left-div {
        float: left;
        margin: auto;
        margin-top: 2rem;
    }

    .left-side {
        float: left;
    }

    .right-side {
        float: right;
    }

    @media screen and (max-width: 991px) {
        h1 {
            text-align: center;
        }

        .info-div {
            float: none;
            margin: auto;
            zoom: 1.5;
        }

        .info-div span {
            text-align: center;
        }

        .ipl-div {
            text-align: center;
            float: none;
            margin: auto;
            zoom: 1.5;
        }

        .userlist {
            margin: auto;
            width: 90%;
        }

        .recent_games {
            margin-top: 2.5rem;
        }

        table tr td:nth-child(n+6) {
            display: none;
        }
        
        table tr th:nth-child(n+6) {
            display: none;
        }

        .recent_games h2 {
            zoom: 1.5;
        }

        .right_align {
            text-align: center;
        }

        .button-div {
            float: none;
            margin: auto;
        }

        .left-div {
            float: none;
        }

        .left-side {
            float: none;
            margin: auto;
        }

        .right-side {
            float: none;
            margin: auto;
        }
    }

    @media screen and (min-width: 992px) {
        .stats {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 2rem;
        }
    }
</style>

{% endblock %}

{% block content %}

<body>
    <div style="text-align: center;">
        <div class="userlist" style="text-align: left;">
            <div class="info-div">
                <span title="Codename"><h1 style="font-size: 50px;">{{ player.codename }}</h1></span>

                <span title="Player ID"><h3>{{ player.player_id }}</h3></span>
                <span title="IPL ID"><h5>{{ player.ipl_id }}</h5></span>
            </div>

            <div class="ipl-div">
                <a href="http://www.iplaylaserforce.com/mission-stats/?t={{ player.ipl_id[1:] }}" target="_blank" rel="noopener noreferrer"><h3 style="color: #2fa4e7;">View on IPL</h3></a>
            </div>

            <div style="clear: both; padding-top: 2rem;"></div>

            <h3 class="right_align">Favorite role: {{ favorite_role }}</h3>
            <h3 class="right_align">Favorite battlesuit: {{ favorite_battlesuit }}</h3>

            <div class="recent_games">
                <h2 style="text-align: center;">Recent SM5 Games</h2>
                <table>
                    <tr>
                        <th>Game</th>
                        <th>Win/Loss</th>
                        <th>Current rating</th>
                        <th>Role</th>
                        <th>Score</th>
                        <th>Lives Left</th>
                        <th>Shots Left</th>
                        <th>Team</th>
                        <th>Accuracy</th>
                        <th>K/D</th>
                        <th>Missiled Other</th>
                        <th>Missiled</th>
                        <th>Shot Team</th>
                        <th>Missiled Team</th>
                        <th>Medic Hits</th>
                        <th>Ended Early</th>
                        <th>Ranked</th>
                    </tr>
                    {% for game in recent_games_sm5 %}
                        {% set entity_start = get_entity_start(game, player) %}
                        {% set entity_end = get_entity_end(game, entity_start) %}
                        {% set sm5_stats = get_sm5_stat(game, entity_start) %}
                        <tr>
                            <td><a href="/game/sm5/{{game.id}}">{{ game.start_time.strftime("%Y/%m/%d %I:%M %p") }}</a></td>
                            <td style="color: {{ 'greenyellow' if entity_start.team.enum == game.winner else 'orangered' }}">{{ "Win" if entity_start.team.enum == game.winner else "Loss" }}</td>
                            {% if entity_end.current_rating_mu %}
                            <td title="mu: {{ entity_end.current_rating_mu|round(2) }}, sigma: {{ entity_end.current_rating_sigma|round(2) }}" style="font-weight: 500; color: white;">{{ (entity_end.current_rating_mu - 3 * entity_end.current_rating_sigma)|round(2) }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td style="width: 30px;"><img src="/assets/roles/{{entity_start.role|string|lower}}_white.png" alt="role image" width="30" height="30"></td>
                            <td>{{ entity_end.score }}</td>
                            <td>{{ sm5_stats.lives_left }}</td>
                            <td>{{ sm5_stats.shots_left }}</td>
                            <td style="color: {{ 'orangered' if entity_start.team.color_name == 'Fire' else 'greenyellow' }}">{{ entity_start.team.color_name }}</td>
                            <td>{{ sm5_stats.shots_fired and ((sm5_stats.shots_hit/sm5_stats.shots_fired)*100)|round(2) }}%</td>
                            <td>{{ sm5_stats.times_zapped and (sm5_stats.shot_opponent/sm5_stats.times_zapped)|round(2) }}</td>
                            <td>{{ sm5_stats.missiled_opponent }}</td>
                            <td>{{ sm5_stats.times_missiled }}</td>
                            <td>{{ sm5_stats.shot_team }}</td>
                            <td>{{ sm5_stats.missiled_team }}</td>
                            <td>{{ sm5_stats.medic_hits }}</td>
                            <td style="color: {{ 'greenyellow' if game.ended_early else 'orangered' }}; font-size: 1.5rem;">{{ "✓" if game.ended_early else "✕" }}</td>
                            <td style="color: {{ 'greenyellow' if game.ranked else 'orangered' }}; font-size: 1.5rem;">{{ "✓" if game.ranked else "✕" }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="recent_games">
                <h2 style="text-align: center;">Recent Laserball Games</h2>
                <table>
                    <tr>
                        <th>Game</th>
                        <th>Win/Loss</th>
                        <th>Current rating</th>
                        <th>Goals</th>
                        <th>Assists</th>
                        <th>Steals</th>
                        <th>Clears</th>
                        <th>Passes</th>
                        <th>Blocks</th>
                        <th>Team</th>
                        <th>Started With Ball</th>
                        <th>Stolen</th>
                        <th>Blocked</th>
                        <th>K/D</th>
                        <th>Ended Early</th>
                        <th>Ranked</th>
                    </tr>
                    {% for game in recent_games_laserball %}
                        {% set entity_start = get_entity_start(game, player) %}
                        {% set entity_end = get_entity_end(game, entity_start) %}
                        {% set laserball_stats = get_laserball_stat(game, entity_start) %}

                        {% if not laserball_stats %}
                            {% continue %}
                        {% endif %}

                        <tr>
                            <td><a href="/game/lb/{{game.id}}">{{ game.start_time.strftime("%Y/%m/%d %I:%M %p") }}</a></td>
                            <td style="color: {{ 'greenyellow' if entity_start.team.enum == game.winner else 'orangered' }}">{{ "Win" if entity_start.team.enum == game.winner else "Loss" }}</td>
                            {% if entity_end.current_rating_mu %}
                            <td title="mu: {{ entity_end.current_rating_mu|round(2) }}, sigma: {{ entity_end.current_rating_sigma|round(2) }}">{{ (entity_end.current_rating_mu - 3 * entity_end.current_rating_sigma)|round(2) }}</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            <td>{{ laserball_stats.goals }}</td>
                            <td>{{ laserball_stats.assists }}</td>
                            <td>{{ laserball_stats.steals }}</td>
                            <td>{{ laserball_stats.clears }}</td>
                            <td>{{ laserball_stats.passes }}</td>
                            <td>{{ laserball_stats.blocks }}</td>
                            <td style="color: {{ 'orangered' if entity_start.team.color_name == 'Fire' else '#0096FF' }}">{{ entity_start.team.color_name }}</td>
                            <td>{{ laserball_stats.started_with_ball }}</td>
                            <td>{{ laserball_stats.times_stolen }}</td>
                            <td>{{ laserball_stats.times_blocked }}</td>
                            <td>{{ (laserball_stats.blocks/laserball_stats.times_blocked) | round(2) }}</td>
                            <td style="color: {{ 'greenyellow' if game.ended_early else 'orangered' }}; font-size: 1.5rem;">{{ "✓" if game.ended_early else "✕" }}</td>
                            <td style="color: {{ 'greenyellow' if game.ranked else 'orangered' }}; font-size: 1.5rem;">{{ "✓" if game.ranked else "✕" }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="stats">
                <div>
                    <div class="btns">
                        <div class="btn">
                            <canvas id="sm5_teams" style="max-width:600px;"></canvas>
                            <p>SM5 Teams</p>
                        </div>
                        <div class="btn">
                            <canvas id="laserball_teams" style="max-width:600px;"></canvas>
                            <p>Laserball Teams</p>
                        </div>
                    </div>
                    
                    <canvas class="inline-block" id="avg_role_score" style="max-width: 500px; clear: both; margin-top: 2rem;" height="200px" class="left-side"></canvas>
                </div>

                <div>
                    <canvas class="inline-block" id="avg_role_score_radar" style="max-width: 500px; margin-top: 2rem;" height="475px" width="475px" class="right-side"></canvas>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    Chart.defaults.global.defaultFontColor = "#FFFFFF";

    new Chart("sm5_teams", {
        type: "pie",
        // wins, inner
        data: {
            labels: ["Red", "Green", "Red Wins", "Green Wins"],
            datasets: [
                {
                    backgroundColor: ["#b91d47", "#00aba9"],
                    data: [{{ red_teams_sm5 }}, {{ green_teams_sm5 }}]
                },
                {
                    backgroundColor: ["#000000", "#000000", "#b91d47", "#00aba9"],
                    data: [0, 0, {{ red_wins_sm5 }}, {{ green_wins_sm5}}]
                }
            ]
        },


        options: {
            legend: {
                display: false,
                fullSize: false
            }
        }
    });

    new Chart("laserball_teams", {
        type: "pie",
        data: {
            labels: ["Red", "Blue", "Red Wins", "Blue Wins"],
            datasets: [
                {
                    backgroundColor: ["#b91d47", "#0047AB"],
                    data: [{{ red_teams_laserball }}, {{ blue_teams_laserball }}]
                },
                {
                    backgroundColor: ["#000000", "#000000", "#b91d47", "#0047AB"],
                    data: [0, 0, {{ red_wins_laserball }}, {{ blue_wins_laserball }}]
                }
            ]
        },
        options: {
            legend: {
                display: false,
                fullSize: false
            }
        }
    });

    new Chart("avg_role_score", {
        type: "bar",
        data: {
            labels: {{ role_plot_labels }},
            datasets: [
                {
                    label: "Player's Median Score",
                    data: {{ role_plot_data_player }},
                    backgroundColor: [
                        "rgb(50, 116, 161)",
                        "rgb(225, 129, 44)",
                        "rgb(58, 146, 58)",
                        "rgb(192, 61, 62)",
                        "rgb(147, 114, 178)"
                    ]
                },
                {
                    label: "World's Median Score",
                    data: {{ role_plot_data_world }},
                    backgroundColor: [
                        "rgb(50, 166, 161)",
                        "rgb(225, 179, 44)",
                        "rgb(58, 196, 58)",
                        "rgb(192, 121, 62)",
                        "rgb(147, 174, 178)"
                    ]
                }
            ]
        },
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks:{
                        min: 0,
                    },
                    stacked: false,
                }],
                xAxes: {
                    gridLines: {
                        display: false,
                    },
                    stacked: false
                },
            },
            plugins: {
                legend: {
                    labels: {
                        color: "rgb(255, 255, 255)"
                    }
                },
                title: {
                    display: true,
                    text: "Median player score vs median world score"
                }
            }
        }
    });

    // median score vs world radar chart

    new Chart("avg_role_score_radar", {
        type: "radar",
        data: {
            labels: {{ role_plot_labels }},
            datasets: [
                {
                    label: "Player's Median Score",
                    data: {{ role_plot_data_player }},
                    backgroundColor: "rgba(50, 116, 161, 0.5)"
                },
                {
                    label: "World's Median Score",
                    data: {{ role_plot_data_world }},
                    backgroundColor: "rgba(50, 166, 161, 0.5)"
                }
            ]
        },
        options: {
            responsive: true,
            plugins: {
                title: {
                    display: true,
                    text: "Median player score vs median world score"
                }
            },
            scale: {
                gridLines: {
                    color: "rgba(255, 255, 255, 255)"
                },
                ticks: {
                    display: true, // Hides the labels in the middel (numbers)
                    backdropColor: "rgba(0, 0, 0, 0)", // Hide the lines
                    beginAtZero: true,
                    min: 0,
                    // put above graph
                    z: 2
                },
                pointLabels: {
                    fontSize: 12
                }
            },
            elements: {
                point: {
                    radius: 5,
                }
            }
        }
    });
</script>

{% endblock %}