{% extends "base.html" %}
{% block title %}Viewing {{ player.codename }}{% endblock %}

{% block html_head %}

<style type="text/css">
    .important {
        color: #336699;
    }

    .sidebar {
        margin: 0;
        padding: 0;
        width: 200px;
        background: linear-gradient(180deg, rgba(26, 26, 26, 0.95) 0%, rgba(26, 26, 26, 0.76) 100%);
        position: fixed;
        height: 100%;
        overflow: auto;
    }

    .paging {
        margin-top: 16px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        font-size: 24;
    }

    .sidebar a {
        display: block;
        color: white;
        padding: 16px;
        text-decoration: none;
    }

    .sidebar a.active {
        background-color: #0096FF;
        color: white;
    }

    .content {
        margin-top: 20px;
    }

    body {
        background-color: #121212;
    }

    h1 {
        margin-bottom: 0;
    }

    h3, h5 {
        margin-top: 0.75rem;
        margin-bottom: 0;
    }

    h1, h3, h5 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    table {
        margin: auto;
        padding: 1rem;
        border: 1px solid lightgray;
        border-collapse: collapse;
        width: 80%;
    }

    tr:nth-child(even) {
        background-color: #252525;
    }

    th, td, tr {
        text-align: center;
        border: 1px solid lightgray;
        padding: 5px;
    }

    td {
        color: lightgray;
    }

    .recent_games {
        margin-top: 5rem;
        margin-bottom: 5rem;

        margin-left: auto;
        margin-right: auto;
    }

    .info-div {
        float: left;
        margin-left: 0;
        margin-right: 0;
    }

    .ipl-div {
        float: right;
        margin-left: 0;
        margin-right: 0;
        margin-top: 2.094rem;
    }

    .right_align {
        text-align: right;
    }

    .button-div {
        float: left;
    }

    .left-div {
        float: left;
        margin: auto;
        margin-top: 2rem;
    }

    .left-side {
        float: left;
    }

    .right-side {
        float: right;
    }

    .btn {
        height: 9rem;
    }

    @media screen and (max-width: 991px) {
        .btn {
            height: 9em;
        }

        h1 {
            text-align: center;
        }

        .info-div {
            float: none;
            margin: auto;
            zoom: 1.5;
        }

        .info-div span {
            text-align: center;
        }

        .ipl-div {
            text-align: center;
            float: none;
            margin: auto;
            zoom: 1.5;
        }

        .userlist {
            margin: auto;
            width: 90%;
        }

        .recent_games {
            margin-top: 2.5rem;
        }

        table tr td:nth-child(n+6) {
            display: none;
        }
        
        table tr th:nth-child(n+6) {
            display: none;
        }

        .recent_games h2 {
            zoom: 1.5;
        }

        .right_align {
            text-align: center;
        }

        .button-div {
            float: none;
            margin: auto;
        }

        .left-div {
            float: none;
        }

        .left-side {
            float: none;
            margin: auto;
        }

        .right-side {
            float: none;
            margin: auto;
        }
    }

    @media screen and (min-width: 992px) {
        .stats {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 2rem;
        }
    }
</style>

{% endblock %}

{% block content %}

<body>
    <div style="text-align: center;">
        <div class="userlist" style="text-align: left;">
            <div class="info-div">
                <span title="Codename"><h1 style="font-size: 50px;">{{ player.codename }}</h1></span>

                <span title="Player ID"><h3>{{ player.player_id }}</h3></span>
                <span title="IPL ID"><h5>{{ player.entity_id }}</h5></span>
            </div>

            <div class="ipl-div">
                <a href="http://www.iplaylaserforce.com/mission-stats/?t={{ player.entity_id[1:] }}" target="_blank" rel="noopener noreferrer"><h3 style="color: #2fa4e7;">View on IPL</h3></a>
            </div>

            <div style="clear: both; padding-top: 2rem;"></div>

            <div class="recent_games">
                {% if recent_games_sm5 %}
                <h2 style="text-align: center;">Recent SM5 Games</h2>
                <table>
                    <tr>
                        <th>Game</th>
                        <th>Win/Loss</th>
                        <th>Rating</th>
                        <th>Role</th>
                        <th>Score</th>
                        <th>Lives Left</th>
                        <th>Shots Left</th>
                        <th>Missiled Other</th>
                        <th>Missiled</th>
                        <th>Medic Hits</th>
                        <th>Accuracy</th>
                        <th>K/D</th>
                        <th>Team</th>
                        <th>Ended Early</th>
                        <th>Ranked</th>
                    </tr>
                    {% for game in recent_games_sm5 %}
                        {% set entity_start = get_entity_start(game, player) %}
                        {% set entity_end = get_entity_end(game, entity_start) %}
                        {% set sm5_stats = get_sm5_stat(game, entity_start) %}
                        <tr>
                            <td><a href="/game/sm5/{{game.id}}">{{ game.start_time.strftime("%Y/%m/%d %I:%M %p") }}</a></td>
                            <td style="color: {{ 'greenyellow' if entity_start.team.enum == game.winner else 'orangered' }}">{{ "Win" if entity_start.team.enum == game.winner else "Loss" }}</td>
                            {% if entity_end.current_rating_mu != 25 %}
                            <td title="mu: {{ ('%.2f' % (entity_end.current_rating_mu|round(2))) if entity_end.current_rating_mu else 25 }}, sigma: {{ ('%.2f' % (entity_end.current_rating_sigma|round(2))) if entity_end.current_rating_sigma else 8.33 }}" style="font-weight: 500; color: white;">{{ ('%.2f' % (entity_end.current_rating_mu - 3 * entity_end.current_rating_sigma)|round(2)) if entity_end.current_rating_mu and entity_end.current_rating_sigma else 0}}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td style="width: 30px;"><img src="/assets/sm5/roles/{{entity_start.role|string|lower}}.png" alt="role image" width="30" height="30"></td>
                            <td>{{ entity_end.score }}</td>
                            <td>{{ sm5_stats.lives_left }}</td>
                            <td>{{ sm5_stats.shots_left }}</td>
                            <td>{{ sm5_stats.missiled_opponent }}</td>
                            <td>{{ sm5_stats.times_missiled }}</td>
                            <td>{{ sm5_stats.medic_hits }}</td>
                            <td title="{{sm5_stats.shots_hit}}/{{sm5_stats.shots_fired}}"><p>{{ sm5_stats.shots_fired and "%.2f" % (((sm5_stats.shots_hit/sm5_stats.shots_fired)*100)|round(2)) }}%</p></td>
                            <td title="{{sm5_stats.shot_opponent}}/{{sm5_stats.times_zapped}}"><p>{{ sm5_stats.times_zapped and "%.2f" % ((sm5_stats.shot_opponent/sm5_stats.times_zapped)|round(2)) }}</p></td>
                            <td style="color: {{ 'orangered' if entity_start.team.color_name == 'Fire' else 'greenyellow' }}">{{ entity_start.team.color_name }}</td>
                            <td style="color: {{ 'greenyellow' if game.ended_early else 'orangered' }}; font-size: 1.5rem;">{{ "✓" if game.ended_early else "✕" }}</td>
                            <td style="color: {{ 'greenyellow' if game.ranked else 'orangered' }}; font-size: 1.5rem;">{{ "✓" if game.ranked else "✕" }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="paging">
                    {% if sm5page > 0 %}<a href="/player/{{ player.codename }}?sm5page={{ sm5page-1 }}&lbpage={{ lbpage }}" id="prev_href"><p style="float: left;">Prev</p></a>{% endif %}
                    <a href="/player/{{ player.codename }}?sm5page={{ sm5page+1 }}&lbpage={{ lbpage }}" id="next_href"><p style="float: right;">Next</p></a>
                </div>
            </div>
            {% endif %}
            {% if recent_games_laserball %}
            <div class="recent_games">
                <h2 style="text-align: center;">Recent Laserball Games</h2>
                <table>
                    <tr>
                        <th>Game</th>
                        <th>Win/Loss</th>
                        <th>Rating</th>
                        <th>Goals</th>
                        <th>Assists</th>
                        <th>Steals</th>
                        <th>Clears</th>
                        <th>Passes</th>
                        <th>Blocks</th>
                        <th>Accuracy</th>
                        <th>K/D</th>
                        <th>Team</th>
                        <th>Ended Early</th>
                        <th>Ranked</th>
                    </tr>
                    {% for game in recent_games_laserball %}
                        {% set entity_start = get_entity_start(game, player) %}
                        {% set entity_end = get_entity_end(game, entity_start) %}
                        {% set laserball_stats = get_laserball_stat(game, entity_start) %}

                        {% if not laserball_stats %}
                            {% continue %}
                        {% endif %}

                        <tr>
                            <td><a href="/game/laserball/{{game.id}}">{{ game.start_time.strftime("%Y/%m/%d %I:%M %p") }}</a></td>
                            <td style="color: {{ 'greenyellow' if entity_start.team.enum == game.winner else 'orangered' }}">{{ "Win" if entity_start.team.enum == game.winner else "Loss" }}</td>
                            {% if entity_end.current_rating_mu != 25 %}
                                <td title="mu: {{ ('%.2f' % (entity_end.current_rating_mu|round(2))) if entity_end.current_rating_mu else 25 }}, sigma: {{ ('%.2f' % (entity_end.current_rating_sigma|round(2))) if entity_end.current_rating_sigma else 8.33 }}" style="font-weight: 500; color: white;">{{ ('%.2f' % (entity_end.current_rating_mu - 3 * entity_end.current_rating_sigma)|round(2)) if entity_end.current_rating_mu and entity_end.current_rating_sigma else 0}}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ laserball_stats.goals }}</td>
                            <td>{{ laserball_stats.assists }}</td>
                            <td>{{ laserball_stats.steals }}</td>
                            <td>{{ laserball_stats.clears }}</td>
                            <td>{{ laserball_stats.passes }}</td>
                            <td>{{ laserball_stats.blocks }}</td>
                            <td title="{{laserball_stats.shots_hit}}/{{laserball_stats.shots_fired}}"><p>{{ laserball_stats.shots_fired and "%.2f" % (((laserball_stats.shots_hit/laserball_stats.shots_fired)*100)|round(2)) }}%</p></td>
                            <td title="{{laserball_stats.blocks}}/{{laserball_stats.times_blocked}}"><p>{{ laserball_stats.times_blocked and ((laserball_stats.blocks/laserball_stats.times_blocked) | round(2)) }}</p></td>
                            <td style="color: {{ 'orangered' if entity_start.team.color_name == 'Fire' else '#0096FF' }}">{{ entity_start.team.color_name }}</td>
                            <td style="color: {{ 'greenyellow' if game.ended_early else 'orangered' }}; font-size: 1.5rem;">{{ "✓" if game.ended_early else "✕" }}</td>
                            <td style="color: {{ 'greenyellow' if game.ranked else 'orangered' }}; font-size: 1.5rem;">{{ "✓" if game.ranked else "✕" }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="paging">
                    {% if lbpage > 0 %}<a href="/player/{{ player.codename }}?sm5page={{ sm5page }}&lbpage={{ lbpage-1 }}" id="prev_href"><p style="float: left;">Prev</p></a>{% endif %}
                    <a href="/player/{{ player.codename }}?sm5page={{ sm5page }}&lbpage={{ lbpage+1 }}" id="next_href"><p style="float: right;">Next</p></a>
                </div>
            </div>
            {% endif %}

            <h2 style="text-align: center;">Statistics</h2>

            <div class="stats">
                <div>
                    <div class="btns">
                        <div class="btn">
                            <canvas id="sm5_teams" style="max-width:600px;"></canvas>
                            <p style="font-size: 14px;" title="{{(red_wins_sm5+green_wins_sm5)}}/{{(red_teams_sm5+green_teams_sm5)}}">Win Percent: {{ '%.2f' % ((sm5_win_percent*100)|round(2)) }}%</p>
                            <p>SM5 Teams</p>
                        </div>
                        <div class="btn">
                            {% if laserball_win_percent %}
                            <canvas id="laserball_teams" style="max-width:600px;"></canvas>
                            {% else %}
                            <canvas id="laserball_teams" style="max-width:600px; opacity: 0;"></canvas>
                            {% endif %}
                            <p style="font-size: 14px;" title="{{red_wins_laserball+blue_wins_laserball}}/{{(red_teams_laserball+blue_teams_laserball)}}">Win Percent: {{ '%.2f' % ((laserball_win_percent*100)|round(2)) }}%</p>
                            <p>Laserball Teams</p>
                        </div>
                    </div>
                    
                    <canvas class="inline-block" id="avg_role_score" style="max-width: 500px; clear: both; margin-top: 2rem;" height="200px" class="left-side"></canvas>
                </div>

                
                <div>
                    {% if role_plot_total_roles > 2 %}
                    <canvas class="inline-block" id="avg_role_score_radar" style="max-width: 500px; margin-top: 2rem;" height="475px" width="475px" class="right-side"></canvas>
                    {% else %}
                    <p style="color: white; max-width: 500px; margin-top: 2rem; text-align: center; font-size: 1.5rem;">Not enough data to display radar chart</p>
                    {% endif %}
                </div>
            </div>

            <div class="stats">
                <canvas class="inline-block" id="sm5_rating_over_time" style="max-width: 500px; margin-top: 2rem;" height="200px" class="left-side"></canvas>
                <canvas class="inline-block" id="laserball_rating_over_time" style="max-width: 500px; margin-top: 2rem;" height="200px" class="left-side"></canvas>
            </div>

            <div style="clear: both; padding-top: 2rem;"></div>

            <div style="margin: auto; text-align: center;">
                <div class="stats">
                    <div>
                        <table>
                            <th>
                                <td title="Only logged games">Times Played</td>
                                <td>Favorite Role</td>
                                <td>Favorite Battlesuit</td>
                                <td>Accuracy</td>
                                <td>Sean Hits</td>
                            </th>
                            <tr>
                                <td>SM5</td>
                                <td>{{ times_played_sm5 }}</td>
                                <td>{{ favorite_role_sm5 }}</td>
                                <td>{{ favorite_battlesuit_sm5 }}</td>
                                <td>{{ '%.2f' % (((shots_hit_sm5/shots_fired_sm5)*100)|round(2) if shots_fired_sm5 != 0 else 0) }}%</td>
                                <td>{{ sean_hits_sm5 }}</td>
                            </tr>
                            <tr>
                                <td>Laserball</td>
                                <td>{{ times_played_laserball }}</td>
                                <td>N/A</td>
                                <td>{{ favorite_battlesuit_laserball }}</td>
                                <td>{{ '%.2f' % ((shots_hit_laserball/shots_fired_laserball)*100)|round(2) if shots_fired_laserball != 0 else 0 }}%</td>
                                <td>{{ sean_hits_laserball }}</td>
                            </tr>
                            <tr>
                                <td>Overall</td>
                                <td>{{ times_played }}</td>
                                <td>{{ favorite_role_sm5 }}</td>
                                <td>{{ favorite_battlesuit }}</td>
                                <td>{{ '%.2f' % ((shots_hit/shots_fired)*100)|round(2) if shots_fired != 0 else 0 }}%</td>
                                <td>{{ sean_hits }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    Chart.defaults.global.defaultFontColor = "#FFFFFF";

    new Chart("sm5_teams", {
        type: "pie",
        // wins, inner
        data: {
            labels: ["Fire", "Earth", "Fire Wins", "Earth Wins"],
            datasets: [
                {
                    backgroundColor: ["#b91d47", "#00aba9"],
                    data: [{{ red_teams_sm5 }}, {{ green_teams_sm5 }}]
                },
                {% if red_wins_sm5 > 0 and green_wins_sm5 > 0 %}
                {
                    backgroundColor: ["#000000", "#000000", "#b91d47", "#00aba9"],
                    data: [0, 0, {{ red_wins_sm5 }}, {{ green_wins_sm5}}]
                }
                {% endif %}
            ]
        },


        options: {
            legend: {
                display: false,
                fullSize: false
            }
        }
    });

    new Chart("laserball_teams", {
        type: "pie",
        data: {
            labels: ["Fire", "Ice", "Fire Wins", "Ice Wins"],
            datasets: [
                {
                    backgroundColor: ["#b91d47", "#0047AB"],
                    data: [{{ red_teams_laserball }}, {{ blue_teams_laserball }}]
                },
                {% if red_wins_laserball > 0 and red_wins_laserball > 0 %}
                {
                    backgroundColor: ["#000000", "#000000", "#b91d47", "#0047AB"],
                    data: [0, 0, {{ red_wins_laserball }}, {{ blue_wins_laserball }}]
                }
                {% endif %}
            ]
        },
        options: {
            legend: {
                display: false,
                fullSize: false
            }
        }
    });

    new Chart("avg_role_score", {
        type: "bar",
        data: {
            labels: {{ role_plot_labels }},
            datasets: [
                {
                    label: "Player's Median Score",
                    data: {{ role_plot_data_player }},
                    backgroundColor: [
                        "rgb(50, 116, 161)",
                        "rgb(225, 129, 44)",
                        "rgb(58, 146, 58)",
                        "rgb(192, 61, 62)",
                        "rgb(147, 114, 178)"
                    ]
                },
                {
                    label: "World's Median Score",
                    data: {{ role_plot_data_world }},
                    backgroundColor: [
                        "rgb(50, 166, 161)",
                        "rgb(225, 179, 44)",
                        "rgb(58, 196, 58)",
                        "rgb(192, 121, 62)",
                        "rgb(147, 174, 178)"
                    ]
                }
            ]
        },
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks:{
                        min: 0,
                    },
                    stacked: false,
                }],
                xAxes: {
                    gridLines: {
                        display: false,
                    },
                    stacked: false
                },
            },
            plugins: {
                legend: {
                    labels: {
                        color: "rgb(255, 255, 255)"
                    }
                },
                title: {
                    display: true,
                    text: "Median player score vs median world score"
                }
            }
        }
    });

    // median score vs world radar chart

    new Chart("avg_role_score_radar", {
        type: "radar",
        data: {
            labels: {{ role_plot_labels }},
            datasets: [
                {
                    label: "Player's Median Score",
                    data: {{ role_plot_data_player }},
                    backgroundColor: "rgba(50, 116, 161, 0.5)"
                },
                {
                    label: "World's Median Score",
                    data: {{ role_plot_data_world }},
                    backgroundColor: "rgba(50, 166, 161, 0.5)"
                }
            ]
        },
        options: {
            responsive: true,
            plugins: {
                title: {
                    display: true,
                    text: "Median player score vs median world score"
                }
            },
            scale: {
                gridLines: {
                    color: "rgba(255, 255, 255, 255)"
                },
                ticks: {
                    display: true, // Hides the labels in the middel (numbers)
                    backdropColor: "rgba(0, 0, 0, 0)", // Hide the lines
                    beginAtZero: true,
                    min: 0,
                    // put above graph
                    z: 2
                },
                pointLabels: {
                    fontSize: 12
                }
            },
            elements: {
                point: {
                    radius: 5,
                }
            }
        }
    });

    new Chart("sm5_rating_over_time", {
        type: "line",
        data: {
            labels: {{ sm5_rating_over_time_labels }},
            datasets: [
            {
                label: "SM5 Rating over time",
                data: {{ sm5_rating_over_time_data }},
                borderColor: "red",
                borderWidth: 4.0,
                fill: false,
                tension: 0.4,
                pointRadius: 0,
                pointHitRadius: 30
            }
            ]
        },
        options: {
            responsive: true,
            // change label colors to white
            legend: {
                labels: {
                    fontColor: "white"
                }
            },
            title: {
                display: true,
                text: "SM5 Rating Over Time",
                fontColor: "white"
            },
            scales: {
                xAxes: [{
                    ticks: {
                        fontColor: "white",
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "Time",
                        fontColor: "white"
                    }
                }],
                yAxes: [{
                    ticks: {
                        fontColor: "white",
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "Rating",
                        fontColor: "white"
                    }
                }]
            }
        }
    });

    new Chart("laserball_rating_over_time", {
        type: "line",
        data: {
            labels: {{ laserball_rating_over_time_labels }},
            datasets: [
            {
                label: "Laserball Rating over time",
                data: {{ laserball_rating_over_time_data }},
                borderColor: "#0047AB",
                borderWidth: 4.0,
                fill: false,
                tension: 0.4,
                pointRadius: 0,
                pointHitRadius: 30
            }
            ]
        },
        options: {
            responsive: true,
            // change label colors to white
            legend: {
                labels: {
                    fontColor: "white"
                }
            },
            title: {
                display: true,
                text: "Laserball Rating Over Time",
                fontColor: "white"
            },
            scales: {
                xAxes: [{
                    ticks: {
                        fontColor: "white",
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "Time",
                        fontColor: "white"
                    }
                }],
                yAxes: [{
                    ticks: {
                        fontColor: "white",
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "Rating",
                        fontColor: "white"
                    }
                }]
            }
        }
    });

</script>

{% endblock %}