{% extends "base.html" %}
{% block title %}Players{% endblock %}

{% block html_head %}
<link rel="stylesheet" href="../../css/player/players.css">

<script>
    sort = {{sort}};
    sort_dir = "{{sort_dir}}";

    function sortTable(n) {
        // change url params and refresh page

        if (n == sort) {
            sort_dir = sort_dir == "asc" ? "desc" : "asc";
        }
        else {
            sort_dir = "desc";
        }

        sort = n;

        var url = new URL(window.location.href);
        var params = new URLSearchParams(url.search.slice(1));
        params.set("sort", n);
        params.set("sort_dir", sort_dir);
        window.history.replaceState({}, '', `${location.pathname}?${params}`);
        location.reload();
    }
</script>

{% endblock %}

{% block content %}
<div class="table-div">
    <table id="player_table">
        <tbody>
            <tr>
                <th onclick="sortTable(0)">Codename</th>
                <th onclick="sortTable(1)">Player ID</th>
                <th onclick="sortTable(2)">SM5 Rating</th>
                <th onclick="sortTable(3)">Laserball Rating</th>
            </tr>
            {% for player in players %}
                {% if not loop.index > 25 %}
                    <tr>
                        <td><a href="/player/{{ player.codename }}">{{ player.codename }}</a></td>
                        <td>{{ player.player_id }}</td>
                        <td title="mu: {{player.sm5_mu|round(2)}}, sigma: {{player.sm5_sigma|round(2)}}">{{ player.sm5_ordinal|round(2) }}</td>
                        <td title="mu: {{player.laserball_mu|round(2)}}, sigma: {{player.laserball_sigma|round(2)}}">{{ player.laserball_ordinal|round(2) }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% if page > 0 %}<a href="/players?page={{ page-1 }}"><p style="float: left;">Prev</p></a>{% endif %}
    <a href="/players?page={{ page+1 }}"><p style="float: right;">Next</p></a>
</div>
{% endblock %}