{% extends "base.html" %}
{% block title %}Players{% endblock %}

{% block html_head %}
<style>
    p {
        text-align: center;
        padding-top: 0.5em;
        font-size: 24;
    }

    table {
        margin: auto;
        padding: 1rem;
        border: 1px solid lightgray;
        border-collapse: collapse;
        width: 100%;
    }

    tr:nth-child(even) {
        background-color: #252525;
    }

    th, td, tr {
        text-align: center;
        border: 1px solid lightgray;
        padding: 5px;
    }

    td {
        color: lightgray;
    }

    th {
        cursor: pointer;
    }
</style>

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, should_switch, dir, switchcount = 0;
        table = document.getElementById("player_table");
        switching = true;
        dir = "asc";
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                should_switch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                console.log(Number(x.innerHTML), Number(y.innerHTML), Number(x.innerHTML) > Number(y.innerHTML));

                if (!isNaN(x.innerHTML)) {
                    var inner_x = Number(x.innerHTML);
                }
                else {
                    var inner_x = x.innerHTML.toLowerCase();
                }

                if (!isNaN(y.innerHTML)) {
                    var inner_y = Number(y.innerHTML);
                }
                else {
                    var inner_y = y.innerHTML.toLowerCase();
                }

                if (dir == "asc") {
                    if (inner_x > inner_y) {
                        should_switch = true;
                        break;
                    }
                }
                else if (dir == "desc") {
                    if (inner_x < inner_y) {
                        should_switch = true;
                        break;
                    }
                }
            }
            if (should_switch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount ++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
        }
</script>

{% endblock %}

{% block content %}
<div class="table-div">
    <table id="player_table">
        <tbody>
            <tr>
                <th onclick="sortTable(0)">Codename</th>
                <th onclick="sortTable(1)">Player ID</th>
                <th onclick="sortTable(2)">SM5 Rating</th>
                <th onclick="sortTable(3)">Laserball Rating</th>
            </tr>
            {% for player in players %}
                {% if not loop.index > 25 %}
                    <tr>
                        <td><a href="/player/{{ player.codename }}">{{ player.codename }}</a></td>
                        <td>{{ player.player_id }}</td>
                        <td title="mu: {{player.sm5_mu|round(2)}}, sigma: {{player.sm5_sigma|round(2)}}">{{ player.sm5_ordinal|round(2) }}</td>
                        <td>{{ player.laserball_ordinal|round(2) }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% if page > 0 %}<a href="/players?page={{ page-1 }}"><p style="float: left;">Prev</p></a>{% endif %}
    <a href="/players?page={{ page+1 }}"><p style="float: right;">Next</p></a>
</div>
{% endblock %}