{% extends "base.html" %}
{% block title %}About{% endblock %}


{% block html_head %}
<style>
    .info_div {
        width: 50%;
        text-align: center;
        margin: auto;
    }

    @media screen and (max-width: 991px) {
        .info_div {
            width: 90%;
        }
    }
</style>
{% endblock %}

{% block content %}

<div>
    <div class="info_div">
        <h1>Website info</h1>
        <p>
            This site was made for Invasion Laser Tag members for the purpose of tracking their stats and comparing them to other members. 
            The project is made for fun but improvements will continue to be made. If you have any comments or suggestions please contact me at
            <a href="mailto:collinmcarroll@gmail.com">collinmcarroll@gmail.com</a>.
            
            <br><br>
            Made with Python 3.10, sanic, jinja2, and tortoise-orm with mysql.
            Ranking system uses a modified version of the TrueSkill algorithm.
        </p>
        <h1>Project goals and ambitions</h1>
        <p>
            To create a more fair and balanced matchmaking system for SM5 and Laserball to create more fair, fun, and competitive games. 
            Games that are more even are more fun for everyone. This project is also a way to track your stats and see how you compare to other players.
        </p>
        <h1>Planned features</h1>
        <p>
            <li>More statistics</li>
            <li>Laserball support (WIP)</li>
            <li>Improved look of the site (WIP)</li>
            <li>Faster replay system</li>
            <li>Best player by role</li>
            <li>New domain name</li>
        </p>
        <h1>SM5 matchmaking/ranking system</h1>
        <p>
            The ranking system used in this project is a modified version of the TrueSkill algorithm. It is a Bayesian ranking system that
            takes into account the number of players, the number of teams, and the number of players per team. It is also used in games such as Halo 5. 
            For this use case, the algorithm is modified to take into account player performance for each game. The reason for this is so that
            you can't just be carried by your team to a higher rank. The modified algorithm is similar to VALORANT in that it takes into account
            every single "encounter" which then boosts your "performance" for that game. This is way more fair to support players who don't get
            as much score as a role such as Commander. This also means that if you don't that even if you don't have many engagements or points,
            you still get a boost for your performance. A good example of this is a medic who doesn't get many points, but also doesn't get shot often
            but still shoots the enemy when they can and trades the enemy will still get a boost of ranking and will not be punished for not getting many points.
            The algorithm gives boosts to players who perform well in their role such as launching nukes, resupplying teammates, using boosts, and
            killing 3 hits as a 1 hit. This algorithm does <b>not</b> use MVP Points similar to ones used in lfstats.com, because
            these can much more easily be farmed and abused. For example: going offensive medic and getting a ton of points and getting
            the medic point bonus.
        </p>
    </div>
</div>

{% endblock %}