{% extends "base.html" %}
{% block title %}About{% endblock %}


{% block html_head %}
<style>
    .info_div {
        width: 50%;
        text-align: center;
        margin: auto;
    }

    @media screen and (max-width: 991px) {
        .info_div {
            width: 90%;
        }
    }
</style>
{% endblock %}

{% block content %}

<div>
    <div class="info_div">
        <h1>Website info</h1>
        <p>
            This site was made for Invasion Laser Tag members for the purpose of tracking their stats and comparing them to other members
            while also providing a more fair and balanced matchmaking system for SM5 and Laserball.
            The project is made for fun but improvements will continue to be made. If you have any comments or suggestions please contact me at
            <a href="mailto:collinmcarroll@gmail.com">collinmcarroll@gmail.com</a>.
            
            <br><br>
            Made with Python 3.10, sanic, jinja2, and tortoise-orm with mysql.
            Ranking system uses a modified version of the TrueSkill algorithm.
        </p>
        <h1>Project goals and ambitions</h1>
        <p>
            To create a more fair and balanced matchmaking system for SM5 and Laserball to create more fair, fun, and competitive games. 
            Games that are more even are more fun for everyone. This project is also a way to track your stats and see how you compare to other players.
        </p>
        <h1>Planned features</h1>
        <p>
            <li>New domain name</li>
            <li>More stats</li>
        </p>
        <h1>Matchmaking/ranking system</h1>
        <p>
            The ranking system used in this project is a modified version of the TrueSkill algorithm. It is a Bayesian ranking system that
            takes into account the number of players, the number of teams, and the number of players per team. It is also used in games such as Halo 5. 
            For this use case, the algorithm is modified to take into account player performance for each game. The reason for this is so that
            you can't just be carried by your team to a higher rank. This ranking system is used for both SM5 and Laserball to create more fair and balanced games.
        </p>
    </div>
</div>

{% endblock %}