{% extends "base.html" %}
{% block title %}About{% endblock %}


{% block html_head %}
<style>
    .info_div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        text-align: center;
        margin: auto;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    @media screen and (max-width: 991px) {
        .info_div {
            width: 90%;
        }
    }
</style>
{% endblock %}

{% block content %}

<div>
    <div class="info_div">
        <h1>Website Info</h1>
        <p>
            This site was made for Invasion Laser Tag members to track and compare their stats to others while providing
            a more fair and balanced matchmaking system for SM5 and Laserball. The project is made for fun but
            improvements will continue to be made.
            If you have any comments or suggestions please contact me at <a href="mailto:collinmcarroll@gmail.com">collinmcarroll@gmail.com</a>.

            <br><br>
            Made with Python (PyPy) 3.10, sanic, jinja2, and tortoise-orm with MySql. Ranking system uses a modified
            version of Microsoft's TrueSkill algorithm.
        </p>
        <h1>Project Goals and Ambitions</h1>
        <p>
            The goal is to create a more balanced matchmaking system for SM5 and Laserball to create more fair, fun, and
            competitive games. Games where teams are evenly matched are more fun for everyone. This project also serves
            as a way to track your stats and see how you compare to other players.
        </p>
        <h1>Matchmaking/Ranking System</h1>
        <p>
            The ranking system used in this project is a modified version of the TrueSkill algorithm. It is a Bayesian
            ranking system that takes into account the number of players, the number of teams, and the number of players
            per team. It is also used in games such as Halo 5. For this use case, the algorithm is modified to take into
            account player performance for each game. The reason for this is so that you can't just be carried by your
            team to a higher rank. This ranking system is used for both SM5 and Laserball to create more fair and
            balanced games.
        </p>
        <h1>Open Source!</h1>
        <p>
            This project is open source, meaning the code is free to use and modify (with the restrictions of the
            licensing).
            You can find the code on my GitHub page <a href="https://github.com/spookybear0/laserforce_ranking">here</a>.
            If you have any questions about usage or want to contribute in the form of code or suggestions, please
            contact me at <a href="mailto:collinmcarroll@gmail.com">collinmcarroll@gmail.com</a>.
        </p>
        <h1>API</h1>
        <p>
            API documentation can be found <a href="/docs">here</a>.
        </p>
    </div>
</div>

{% endblock %}