{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block html_head %}
<link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}

{% block content %}

<div class="content">
    <div class="main-chart">
        <canvas id="avg_role_score" style="max-width: 100%;"></canvas>
    </div>
</div>

<script>
    new Chart("avg_role_score", {
        type: "bar",
        data: {
            labels: ["Commander", "Heavy", "Scout", "Ammo", "Medic"],
            datasets: [{
                label: "Global Median Score",
                data: {{ role_plot_data }},
                backgroundColor: [
                    "rgb(50, 116, 161)",
                    "rgb(225, 129, 44)",
                    "rgb(58, 146, 58)",
                    "rgb(192, 61, 62)",
                    "rgb(147, 114, 178)"
                ]
            }]
        },
        options: {
            scales: {
                x: {
                    ticks: {
                        color: "rgb(255, 255, 255)"
                    }
                },
                y: {
                    ticks: {
                        min: 0,
                        color: "rgb(255, 255, 255)"
                    }
                }
            },
            plugins: {
                legend: {
                    labels: {
                        color: "rgb(255, 255, 255)",
                    }
                },
                title: {
                    display: true,
                    text: "Median World Score by Role",
                    color: "rgb(255, 255, 255)",
                }
            }
        }
    });
</script>

{% endblock %}