{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block html_head %}

<style>
    .stats-header {
        text-align: center;
        margin: 0;
        padding: 0;
    }
</style>

{% endblock %}

{% block content %}

<div class="content">
    <canvas class="inline-block" id="avg_role_score" style="float: left; max-width: 100%; height: 50%; margin: auto;"></canvas>
</div>

<script>
    new Chart("avg_role_score", {
        type: "bar",
        data: {
            labels: ["Commander", "Heavy", "Scout", "Ammo", "Medic"],
            datasets: [{
                label: "Global Median Score",
                data: {{ role_plot_data }},
                backgroundColor: [
                    "rgb(50, 116, 161)",
                    "rgb(225, 129, 44)",
                    "rgb(58, 146, 58)",
                    "rgb(192, 61, 62)",
                    "rgb(147, 114, 178)"
                ]
            }]
        },
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks:{
                        min: 0,
                    }
                }]
            },
            plugins: {
                legend: {
                    labels: {
                        color: "rgb(255, 255, 255)"
                    }
                },
                title: {
                    display: true,
                    text: "Median player score vs median world score"
                }
            }
        }
    });
</script>

{% endblock %}