<link rel="stylesheet" href="/assets/css/app.css">
<form class="modal-content animate" action="/log_sm5" method="post">
    <div class="container">
      <select name="winner" required>
        <option value="red">Red</option>
        <option value="green">Green</option>
      </select><br><br>

      {% for i in range(1, 8+1) %}
      <input type="text" placeholder="Green Codename {{i}}" name="gname{{i}}">
      <select name="grole{{i}}">
        <option value="">Green Role {{i}}</option>
        <option value="commander">Commander</option>
        <option value="heavy">Heavy</option>
        <option value="scout">Scout</option>
        <option value="ammo">Ammo</option>
        <option value="medic">Medic</option>
      </select>
      <input type="text" placeholder="Green Score {{i}}" name="gscore{{i}}"><br><br>
      {% endfor %}

      {% for i in range(1, 8+1) %}
      <input type="text" placeholder="Red Codename {{i}}" name="rname{{i}}">
      <select name="rrole{{i}}">
        <option value="">Red Role {{i}}</option>
        <option value="commander">Commander</option>
        <option value="heavy">Heavy</option>
        <option value="scout">Scout</option>
        <option value="ammo">Ammo</option>
        <option value="medic">Medic</option>
      </select>
      <input type="text" placeholder="Red Score {{i}}" name="rscore{{i}}"><br><br>
      {% endfor %}

      <input type="text" placeholder="Password" name="password"><br><br>
      <button type="submit">Submit</button>
    </div>
</form>