{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block html_head %}
<link rel="stylesheet" href="/assets/css/login.css">
{% endblock %}

{% block content %}

<h1>Login</h1>
<form class="center" method="POST" action="login">
    <div class="center">
        <input type="text" name="codename" placeholder="Codename" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login">
    </div>
</form>

{% endblock %}