{% extends "base.html" %}
{% block title %}Matchmaking{% endblock %}

{% block html_head %}

<script>
    // variables

    mobile = false;
    currentlyDragging = undefined;

    // vars from args
    team1 = {{ team1|tojson }};
    team2 = {{ team2|tojson }};

    currentMode = "{{ mode }}"; // sm5 or laserall
    numTeams = 2;
    matchmakeRoles = false;
    all_players = {{ all_players|tojson }};
</script>

<script defer src="../../../assets/js/matchmaking.js"></script>

<link rel="stylesheet" href="../css/matchmaking.css">

{% endblock %}

{% block content %}
<div>
    <div class="container">
        <div class="sub-container">
            <div class="controls-div">
                <button onclick="addTeam()" class="btn"><h3>Add Team</h3></button>
                <button onclick="removeTeam()" class="btn"><h3>Remove Team</h3></button>
                <button onclick="matchmakePlayers()" class="btn"><h3>Matchmake Players</h3></button>
                <button onclick="addUnratedPlayer()" class="btn"><h3>Add Unrated Player</h3></button>
                <button onclick="switchMode()" class="btn" id="modeBtn"><h3>Switch Mode to Laserball</h3></button>
                <button onclick="switchMatchmakingRoles()" class="btn" id="matchmakeRolesBtn"><h3>Matchmake Roles/Players</h3></button>
            </div>
        </div>
        <div class="sub-container">
            <div class="players-div" id="players-div">
                <h2>Players</h2>
                <table>
                    <tbody>
                        <tr>
                            <th class="role-cell-hidden"></th> <!--empty cell for role-->
                            <th>Player</th>
                            <th>Rating</th>
                        </tr>
                        {% for player in players %}
                        <tr draggable="true" ondragend="dragEnd(event)">
                            <td class="role-cell-hidden"></td>
                            <td>{{ player.codename }}</td>
                            <td>{{ player.sm5_ordinal|round(2) }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="sub-container">
            <div class="teams-div">
                <div class="team-div" id="team1-div">
                    <h2>Team 1</h2>
                    <table>
                        <tbody>
                            <tr>
                                <th class="role-cell-hidden"></th> <!--empty cell for role-->
                                <th>Player</th>
                                <th>Rating</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="team-div" id="team2-div">
                    <h2>Team 2</h2>
                    <table>
                        <tbody>
                            <tr>
                                <th class="role-cell-hidden"></th> <!--empty cell for role-->
                                <th>Player</th>
                                <th>Rating</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="team-div" id="team3-div">
                    <h2>Team 3</h2>
                    <table>
                        <tbody>
                            <tr>
                                <th class="role-cell-hidden"></th> <!--empty cell for role-->
                                <th>Player</th>
                                <th>Rating</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="team-div" id="team4-div">
                    <h2>Team 4</h2>
                    <table>
                        <tbody>
                            <tr>
                                <th class="role-cell-hidden"></th> <!--empty cell for role-->
                                <th>Player</th>
                                <th>Rating</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}