{% extends "base.html" %}
{% block title %}Stats{% endblock %}
<!--stat page-->
{% block meta_description %}General statistics and leaderboards for all players{% endblock %}

{% block html_head %}
<link rel="stylesheet" href="/assets/css/stats.css">
{% endblock %}

{% block content %}

<div class="content">
    <h1 class="stats-header">General Stats</h1>
    <div class="btns">
        <div class="btn">
            <h2>{{ total_players }}</h2>
            <p>Players</p>
        </div>
        <div class="btn">
            <h2>{{ total_games }}</h2>
            <p>Games Logged</p>
        </div>
        <div class="btn">
            <h2>{{ ranked_games }}</h2>
            <p>Ranked Games</p>
        </div>
        <div class="btn">
            <h2>{{ total_games_played }}</h2>
            <p>Total Games Played</p>
        </div>
        <div class="btn" title="Algorithm for Predictive Accuracy

Sum of all ranked games:
+1 point for each correct prediction or
+1 points for each correct prediction of a tie, aka a close game (score diff <= 10% of combined score and 40-60% win chance)

Divided by the total number of games
">
            <h2>{{ "%.2f" % (predictive_accuracy*100)|round(2) }}%</h2>
            <p>Predictive Accuracy</p>
        </div>
    </div>

    <h1 class="stats-header">SM5 Stats</h1>
    <div class="btns">
        <div class="btn">
            <div class="wins-pie-chart">
                <canvas id="sm5_team_wins"></canvas>
            </div>
            <p>SM5 Team Wins</p>
        </div>
        <div class="btn">
            <h2>{{ points_scored }}</h2>
            <p>Points Scored</p>
        </div>
        <div class="btn">
            <h2>{{ nukes_launched }}</h2>
            <p>Nukes Launched</p>
        </div>
        <div class="btn">
            <h2>{{ nukes_cancelled }}</h2>
            <p>Nukes Cancelled</p>
        </div>
        <div class="btn">
            <h2>{{ medic_hits }}</h2>
            <p>Medic Hits</p>
        </div>
        <div class="btn">
            <h2>{{ own_medic_hits }}</h2>
            <p>Own Medic Hits</p>
        </div>
    </div>

    <h1 class="stats-header">Laserball Stats</h1>
    <div class="btns">
        <div class="btn">
            <div  class="wins-pie-chart">
                <canvas id="laserball_team_wins"></canvas>
            </div>
            <p>Laserball Team Wins</p>
        </div>
        <div class="btn">
            <h2>{{ goals_scored }}</h2>
            <p>Goals Scored</p>
        </div>
        <div class="btn">
            <h2>{{ assists }}</h2>
            <p>Assists</p>
        </div>
        <div class="btn">
            <h2>{{ passes }}</h2>
            <p>Passes</p>
        </div>
        <div class="btn">
            <h2>{{ steals }}</h2>
            <p>Steals</p>
        </div>
        <div class="btn">
            <h2>{{ clears }}</h2>
            <p>Clears</p>
        </div>
        <div class="btn">
            <h2>{{ blocks }}</h2>
            <p>Blocks</p>
        </div>
    </div>

    <h1 class="stats-header">Leaderboards</h1>

    <br><br><br>

    <h2 class="stats-header" title="Minimum 5 games">Top Players By Role Rating</h2>

    <br>

    <div class="role-leaderboards">
        {% for role_name, role in zip(["Commander", "Heavy", "Scout", "Ammo", "Medic"], [top_commanders_rating, top_heavies_rating, top_scouts_rating, top_ammos_rating, top_medics_rating]) %}
            <div>
                <h2 class="stats-header">{{ role_name }}</h2>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Role Rating</th>
                        <th>Games</th>
                    </tr>
                    {% for player in role %}
                        <tr>
                            <td>{{ player[0] }}</td>
                            <td>{{ player[1] | round(2) }}</td>
                            <td>{{ player[2] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>

    <br><br><br>

    <h2 class="stats-header" title="Minimum 5 games">Top Players By Median Score</h2>

    <br>

    <div class="role-leaderboards">
        {% for role_name, role in zip(["Commander", "Heavy", "Scout", "Ammo", "Medic"], [top_commanders_score, top_heavies_score, top_scouts_score, top_ammos_score, top_medics_score]) %}
            <div>
                <h2 class="stats-header">{{ role_name }}</h2>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Score</th>
                        <th>Games</th>
                    </tr>
                    {% for player in role %}
                        <tr>
                            <td>{{ player[0] }}</td>
                            <td>{{ player[1] }}</td>
                            <td>{{ player[2] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    Chart.defaults.defaultFontColor = "#FFFFFF";

    new Chart("sm5_team_wins", {
        type: "pie",
        data: {
            labels: ["Fire", "Earth"],
            datasets: [{
                backgroundColor: ["#b91d47","#00aba9"],
                data: [{{ sm5_red_wins }}, {{ sm5_green_wins }}]
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: false,
                    fullSize: false
                }
            }
        }
    });
    new Chart("laserball_team_wins", {
        type: "pie",
        data: {
            labels: ["Fire", "Ice"],
            datasets: [{
                backgroundColor: ["#b91d47","#0047AB"],
                data: [{{ laserball_red_wins }}, {{ laserball_blue_wins }}]
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: false,
                    fullSize: false
                }
            }
        }
    });
</script>

{% endblock %}