{% extends "base.html" %}
{% block title %}Tools{% endblock %}

{% block html_head %}

<style>
    .left_div {
        float: left;
        padding-left: 25%;
    }

    .right_div {
        float: right;
        padding-right: 25%;
    }

    @media screen and (max-width: 991px) {
        .left_div {
            float: none;
            margin: auto;
            padding-left: 0;
        }

        .right_div {
            float: none;
            margin: auto;
            padding-right: 0;
        }
        
        #content {
            width: 100%;
            zoom: 2.5;
        }
    }
</style>

{% endblock %}

{% block content %}
<div class="left_div">
    <h2 style="text-align: center;">Matchmake</h2>
    <form class="modal-content animate" action="/matchmake" method="post" style="text-align: center;">
        <select name="mode">
            <option value="sm5">SM5</option>
            <option value="laserball">Laserball</option>
        </select><br><br><br>
        <div class="container">
            {% for i in range(16) %}
            <input type="text" placeholder="Player Codename" name="player{{ i }}"><br><br>
            {% endfor %}
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
<div class="right_div">
    <h2 style="text-align: center;">Win chance calculator</h2>
    <form class="modal-content animate" action="/win_chance" method="post" style="text-align: center;">
        <select name="mode">
            <option value="sm5">SM5</option>
            <option value="laserball">Laserball</option>
        </select><br><br><br>
        <div class="container">
            <p>Team 1</p>
            {% for i in range(8) %}
            <input type="text" placeholder="Player Codename" name="1player{{ i }}"><br><br>
            {% endfor %}
            <p>Team 2</p>
            {% for i in range(8) %}
            <input type="text" placeholder="Player Codename" name="2player{{ i }}"><br><br>
            {% endfor %}
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}