{% extends "base.html" %}
{% block title %}Games{% endblock %}

{% block html_head %}
<style>
    p {
        text-align: center;
        padding-top: 0.5em;
        font-size: 24;
    }

    table {
        margin: auto;
        padding: 1rem;
        border: 1px solid lightgray;
        border-collapse: collapse;
        width: 100%;
    }

    tr:nth-child(even) {
        background-color: #252525;
    }

    #sm5_game_table tbody tr:nth-child(even) {
        background-color: #252525;
    }

    #laserball_game_table tbody tr:nth-child(even) {
        background-color: #252525;
    }

    th, td, tr {
        text-align: center;
        border: 1px solid lightgray;
        padding: 5px;
    }

    td {
        color: lightgray;
    }

    th {
        cursor: pointer;
    }
    
    .table-div {
        width: 50%;
    }

    #mode_table {
        width: 25rem;
        margin-bottom: 1.5rem;
        /*make table headers equal width*/
        table-layout: fixed;
    }

    @media screen and (max-width: 991px) {
        .table-div {
            width: 100%;
        }

        p {
            zoom: 2.5;
        }

        #mode_table {
            height: 4rem;
        }
    }
</style>

<script>
    sort = {{sort}};
    sort_dir = "{{sort_dir}}";

    function sortTable(n) {
        // change url params and refresh page

        if (n == sort) {
            sort_dir = sort_dir == "asc" ? "desc" : "asc";
        }
        else {
            sort_dir = "desc";
        }

        sort = n;

        var url = new URL(window.location.href);
        var params = new URLSearchParams(url.search.slice(1));
        params.set("sort", n);
        params.set("sort_dir", sort_dir);
        params.set("mode", current_mode);
        window.history.replaceState({}, '', `${location.pathname}?${params}`);
        location.reload();
    }

    current_mode = "{{ mode }}"

    function switch_mode(mode) {
        if (mode == "sm5") {
            document.getElementById("sm5_mode_header").style.backgroundColor = "#252525";
            document.getElementById("laserball_mode_header").style.backgroundColor = "transparent";
            document.getElementById("sm5_game_table").style.display = "table";
            document.getElementById("laserball_game_table").style.display = "none";

            if (document.getElementById("next_href")) {
                document.getElementById("next_href").href = "/games?page={{ page+1 }}&mode=sm5";
            }
            if (document.getElementById("prev_href")) {
                document.getElementById("prev_href").href = "/games?page={{ page-1 }}&mode=sm5";
            }

            current_mode = "sm5";
        }
        else if (mode == "laserball") {
            document.getElementById("sm5_mode_header").style.backgroundColor = "transparent";
            document.getElementById("laserball_mode_header").style.backgroundColor = "#252525";
            document.getElementById("sm5_game_table").style.display = "none";
            document.getElementById("laserball_game_table").style.display = "table";

            if (document.getElementById("next_href")) {
                document.getElementById("next_href").href = "/games?page={{ page+1 }}&mode=laserball";
            }
            if (document.getElementById("prev_href")) {
                document.getElementById("prev_href").href = "/games?page={{ page-1 }}&mode=laserball";
            }

            current_mode = "laserball";
        }
    }
    
    document.onreadystatechange = function(e) {
        if (document.readyState === 'complete') {
            //sortTable(0, "sm5_game_table");
            //sortTable(0, "sm5_game_table");
            //sortTable(0, "laserball_game_table");
            //sortTable(0, "laserball_game_table");
            switch_mode(current_mode);
        }
    }
</script>

{% endblock %}

{% block content %}
<div class="table-div">
    <table id="mode_table">
        <tr>
            <th onclick="switch_mode('sm5')" id="sm5_mode_header">SM5</th>
            <th onclick="switch_mode('laserball')" id="laserball_mode_header">Laserball</th>
        </tr>
    </table>

    <table id="sm5_game_table">
        <tbody>
            <tr>
                <th onclick="sortTable(0)">Date Played</th>
                <th onclick="sortTable(1)">Winner</th>
                <th onclick="sortTable(2)">Ended Early</th>
                <th onclick="sortTable(3)">Ranked</th>
            </tr>
            {% for game in sm5_games %}
                <tr>
                    <td><a href="/game/sm5/{{game.id}}">{{ game.start_time.strftime("%Y/%m/%d %I:%M %p") }}</a></td>
                    {% if not game.winner %}
                        <td style="color: grey;">None</td>
                    {% elif game.winner.value == "blue" %}
                        <td style="color: #0096FF;">{{ game.winner.standardize() }}</td>
                    {% elif game.winner.value == "red" %}
                        <td style="color: orangered;">{{ game.winner.standardize() }}</td>
                    {% else %}
                        <td style="color: greenyellow;">{{ game.winner.standardize() }}</td>
                    {% endif %}
                    <td style="color: {{ 'greenyellow' if game.ended_early else 'orangered' }}; font-size: 1.5rem;">{{ "✓" if game.ended_early else "✕" }}</td>
                    <td style="color: {{ 'greenyellow' if game.ranked else 'orangered' }}; font-size: 1.5rem;">{{ "✓" if game.ranked else "✕" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table id="laserball_game_table" style="display: none;">
        <tbody>
            <tr>
                <th onclick="sortTable(0)">Date Played</th>
                <th onclick="sortTable(1)">Winner</th>
                <th onclick="sortTable(2)">Ended Early</th>
                <th onclick="sortTable(3)">Ranked</th>
            </tr>
            {% for game in laserball_games %}
                <tr>
                    <td><a href="/game/lb/{{game.id}}">{{ game.start_time.strftime("%Y/%m/%d %I:%M %p") }}</a></td>
                    {% if not game.winner %}
                        <td style="color: grey;">None</td>
                    {% elif game.winner.value == "blue" %}
                        <td style="color: #0096FF;">{{ game.winner.standardize() }}</td>
                    {% elif game.winner.value == "red" %}
                        <td style="color: orangered;">{{ game.winner.standardize() }}</td>
                    {% else %}
                        <td style="color: greenyellow;">{{ game.winner.standardize() }}</td>
                    {% endif %}
                    <td style="color: {{ 'greenyellow' if game.ended_early else 'orangered' }}; font-size: 1.5rem;">{{ "✓" if game.ended_early else "✕" }}</td>
                    <td style="color: {{ 'greenyellow' if game.ranked else 'orangered' }}; font-size: 1.5rem;">{{ "✓" if game.ranked else "✕" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if page > 0 %}<a href="/games?page={{ page-1 }}" id="prev_href"><p style="float: left;">Prev</p></a>{% endif %}
    <a href="/games?page={{ page+1 }}" id="next_href"><p style="float: right;">Next</p></a>
</div>
{% endblock %}