{% extends "base.html" %}
{% block title %}Laserball game on {{ game.start_time.strftime("%A, %B %d at %I:%M %p")}}{% endblock %}


{% block html_head %}

<style>
    .team_box {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0.5em;
        margin-left: 5em;
        margin-right: 5em;
    }

    .team {
        display: inline-block;
        height: 35%;
        padding: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 5em;
        margin-right: 5em;
        border: 0;
        vertical-align: top;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    table {
        margin: auto;
        padding: 1rem;
        border: 1px solid lightgray;
        border-collapse: collapse;
        width: 100%;
    }

    th, td, tr {
        text-align: center;
        border: 1px solid lightgray;
        height: 30px;
    }

    td {
        color: lightgray;
        padding: 2px;
    }

    tr:nth-child(even) {
        background-color: #252525;
    }

    tr:nth-child(even) > td:nth-child(1) {
        background-color: #252525;
    }

    tr:nth-child(odd) > td:nth-child(1) {
        background-color: var(--alternate-table-background-color);
    }

    tr > th:nth-child(1) {
        background-color: var(--alternate-table-background-color);
    }

    body {
        height: 130vh;
    }

    .desktop_notif {
        text-align: center;
        display: none;
    }

    .score-chart {
        width: 90%;
        position: relative;
        height: 500px;
        margin: auto;
    }

    .stats {
        margin-top: 2rem;
    }

    .win-chances {
        flex-direction: row;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .win-chance-before-game, .win-chance {
        width: 50%;
        position: relative;
    }

    @media screen and (max-width: 1200px) {
        table tr td:nth-child(n+9) {
            display: none;
        }
        
        table tr th:nth-child(n+9) {
            display: none;
        }
    }

    @media screen and (max-width: 991px) {
        .userlist {
            background: none;
            width: 100%;
            height: 100%;
        }

        h2, h3 {
            zoom: 1.5;
        }

        .team_score {
            zoom: 2;
        }

        table {
            table-layout: auto;
            width: 100%;
        }

        .fixed-column {
            position: sticky;
            z-index: 1;
            left: 0px;
        }

        .outer-scrolling-table {
            width: 100%;
        }

        .inner-scrolling-table {
            position: relative;
            overflow: auto;
            border: 1px solid black;
            white-space: nowrap;
        }

        .team {
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
        }

        #teams {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .desktop_notif {
            display: block;
        }

        table {
            word-wrap: break-word;
        }

        #content {
            height: 100%;
        }

        body {
            height: 85%;
        }

        .score-chart {
            margin-bottom: 5rem;
            height: 300px;
        }

        #score_chart {
            width: 100% !important;
            height: 100% !important;
        }

        .win-chance-before-game, .win-chance {
            width: 80% !important;
            margin: auto;
            margin-bottom: 5rem;
        }

        #win_chance_before_game, #win_chance {
            width: 100% !important;
            height: 100% !important;
            margin: auto;
        }

        .win-chances {
            flex-direction: column;
        }
    }

    .link-button {
        background: none;
        border: none;
        color: #2fa4e7;
        cursor: pointer;
        font-size: 1em;
        margin: 0;
        font-family: Inter, Helvetica Neue, Tahoma, Arial, Hiragino Kaku Gothic ProN, Meiryo, Microsoft YaHei, Apple SD Gothic Neo, sans-serif;
    }

    .link-button h3 {
        margin: 0;
    }

    .link-button:focus {
        outline: none;
    }
</style>

<script>
    function compareValues(a, b) {
        return (a>b) ? -1 : (a<b) ? 1 : 0;
    }
      
    row = 2
    function sortTable(table, colnum) {
        let rows = Array.from(table.querySelectorAll("tr"));
        
        rows = rows.slice(1);
        
        let qs = `td:nth-child(${colnum})`;
        
        rows.sort( (r1,r2) => {
            let t1 = r1.querySelector(qs);
            let t2 = r2.querySelector(qs);
        
            return compareValues(parseInt(t1.textContent), parseInt(t2.textContent));
        });
        
        rows.forEach(row => table.appendChild(row));
    }

</script>

{% endblock %}


{% block content %}

<div style="text-align: center;">
    <div style="margin-left: 2rem; margin-right: 2rem; text-align: center;">
        <span title="Game Date"><h2 style="font-size: 25px;">Game on {{ game.get_timestamp()}}</h2></span>
        <form method="post" action="/matchmaking" class="inline">
            <input type="hidden" name="mode" value="laserball">
            {% for player in players_matchmake_team1 %}
                <input type="hidden" name="1player{{ loop.index }}" value="{{ player }}">
            {% endfor %}
            {% for player in players_matchmake_team2 %}
                <input type="hidden" name="2player{{ loop.index }}" value="{{ player }}">
            {% endfor %}
            <button type="submit" class="link-button">
                <span title="Matchmake"><h3><a>Rematchmake</a></h3></span>
            </button>
        </form>
        {% if is_admin %}<span title="Admin Page"><h3><a href="/admin/game/laserball/{{ game.id }}/">Admin Page</a></h3></span>{% endif %}
        <span><h3><a href="/api/game/laserball/{{ game.id }}/tdf">Game File</a></h3></span>
        <span title="Replay"><h3><a href="/game/laserball/{{ game.id }}/replay">Replay</a></h3></span>
    </div>
    <div class="userlist" style="text-align: left;">
        <div style="clear: both;"></div>

        <div id="teams">
            {% for team in teams %}
            <div id="{{ team.color }}_team" class="team team{{ loop.index }}">
                <h2 style="font-size: 20px; color: {{ team.css_color_name }}" class="team_score {{ team.css_class }}">{{ team.element }} Team: {{ team.score }}</h2>

                <div class="outer-scrolling-table">
                    <div class="inner-scrolling-table">
                        <table>
                            <th class="fixed-column"><p>Codename</p></th>
                            <th><p title="Score = (Goals + Assists) * 10000 + Steals * 100 + Blocks">Score</p></th>
                            {% if game.ranked %}
                                <th><p>Current Rating</p></th>
                            {% endif %}
                            <th><p>Ball Possession</p></th>
                            <th><p>Goals</p></th>
                            <th><p>Assists</p></th>
                            <th><p>Steals</p></th>
                            <th><p>Clears</p></th>
                            <th><p>Passes</p></th>
                            <th><p>Blocks</p></th>
                            <th><p>Stolen</p></th>
                            <th><p>Blocked</p></th>
                            <th><p title="Goal = 1, Assist = 0.75, Steal = 0.5, Clear = 0.25, Block = 0.3">MVP Points</p></th>
                            <th><p>Accuracy</p></th>
                            <th><p>K/D</p></th>
                            {% for player in team.players_with_sum %}
                                {% set entity_end = player.entity_end %}
                                <tr class="{{ player.css_class }}">
                                    <td class="fixed-column">{{ player_reference(player) }}</td>
                                    {% if player.player_info.is_member %}
                                        <td><a href="/game/laserball/{{game.id}}/scorecard/{{entity_end.id}}">{{ player.score }}</a></td>
                                    {% else %}
                                            <td><p>{{ player.score }}</p></td>
                                    {% endif %}
                                    {% if game.ranked %}
                                        {% if entity_end.current_rating_mu %}
                                            <td title="mu: {{ entity_end.current_rating_mu|round(2) }}, sigma: {{ entity_end.current_rating_sigma|round(2) }}">{{ (entity_end.current_rating_mu - 3 * entity_end.current_rating_sigma)|round(2) }}</td>
                                        {% else %}
                                            <td><p>&nbsp;</p></td>
                                        {% endif %}
                                    {% endif %}
                                    <td><p>{{ player.possession_time_str }}</p></td>
                                    <td><p>{{ player.goals }}</p></td>
                                    <td><p>{{ player.assists }}</p></td>
                                    <td><p>{{ player.steals }}</p></td>
                                    <td><p>{{ player.clears }}</p></td>
                                    <td><p>{{ player.passes }}</p></td>
                                    <td><p>{{ player.blocks }}</p></td>
                                    <td><p>{{ player.times_stolen }}</p></td>
                                    <td><p>{{ player.times_blocked }}</p></td>
                                    <td><p>{{ "%.2f" % (player.mvp_points|round(2)) }}</p></td>
                                    <td title="{{player.shots_hit}}/{{player.shots_fired}}"><p>{{ player.accuracy_str }}</p></td>
                                    <td title="{{player.blocks}}/{{player.times_blocked}}"><p>{{ player.kd_ratio_str }}</p></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="stats">
            <div class="score-chart">
                <canvas id="score_chart"></canvas>
            </div>
            {% if game.ranked and win_chance_before_game and win_chance_after_game %}
            <div class="win-chances">
                <div class="win-chance-before-game">
                    <canvas id="win_chance_before_game"></canvas>
                </div>
                <div class="win-chance">
                    <canvas id="win_chance"></canvas>
                </div>
            </div>
            {% endif %}
        </div>

        <div style="clear: both;"></div>

        <h1 class="desktop_notif">For more detailed stats, please view the website on desktop.</h1>
    </div>
</div>

<script>
    new Chart("score_chart", {
        type: "line",
        data: {
            labels: {{score_chart_labels}},
            datasets: [
            {% for team in teams %}
            {
                label: "{{ team.element }} Team Goals",
                data: {{score_chart_data[team.team]}},
                borderColor: "{{ team.css_color_name }}",
                backgroundColor: "{{ team.css_color_name }}",
                fill: false,
                tension: 0.2,
                pointRadius: 0,
                pointHitRadius: 10
            }{{ "," if not loop.last }}
            {% endfor %}
            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                tooltip: {
                    callbacks: {
                        title: function(tooltipItem) {
                            return minute_to_mmss(this.chart.data.labels[tooltipItem[0].dataIndex]["x"]);
                        }
                    }
                },
                legend: {
                    labels: {
                        color: "white"
                    }
                },
                title: {
                    display: true,
                    text: "Goals Scored Over Time",
                    color: "white",
                    font: {
                        size: 24
                    }
                }
            },
            scales: {
                x: {
                    ticks: {
                        color: "white",
                        callback: function(value, index, values) {
                            return minute_to_mmss(this.chart.data.labels[index]["x"]);
                        }
                    },
                    title: {
                        display: true,
                        text: "Time",
                        color: "white"
                    }
                },
                xAxis2: {
                    position: "top",
                    data: {{score_chart_data_rounds}},
                    ticks: {
                        color: "white",
                        callback: function(value, index, ticks) {
                            const data = this.chart.data.datasets[0].data;
                            if (index > 0 && data[index - 1] == data[index]) {
                                return "";
                            }
                            return data[index];
                        },
                    },
                    title: {
                        display: true,
                        text: "Current Round",
                        color: "white"
                    }
                },
                y: {
                    ticks: {
                        color: "white",
                    },
                    title: {
                        display: true,
                        text: "Score",
                        color: "white"
                    }
                }
            }
        }
    });

    {% if game.ranked and win_chance_before_game and win_chance_after_game %}
    new Chart("win_chance_before_game", {
        type: "pie",
        data: {
            labels: ["{{ teams[0].element }}", "{{ teams[1].element }}"],
            datasets: [{
                backgroundColor: ["{{ teams[0].css_color_name }}", "{{ teams[1].css_color_name }}"],
                data: [{{ (win_chance_before_game[0]*100)|round(2) }}, {{ (win_chance_before_game[1]*100)|round(2) }}]
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                    fullSize: false
                },
                title: {
                    display: true,
                    text: "Predicted Win Chance",
                    color: "white",
                    font: {
                        size: 24
                    }
                }
            }
        }
    });

    new Chart("win_chance", {
        type: "pie",
        data: {
            labels: ["{{ teams[0].element }}", "{{ teams[1].element }}"],
            datasets: [{
                backgroundColor: ["{{ teams[0].css_color_name }}", "{{ teams[1].css_color_name }}"],
                data: [{{ (win_chance_after_game[0]*100)|round(2) }}, {{ (win_chance_after_game[1]*100)|round(2) }}]
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                    fullSize: false
                },
                title: {
                    display: true,
                    text: "Actual Win Chance",
                    color: "white",
                    font: {
                        size: 24
                    }
                }
            }
        }
    });
    {% endif %}
</script>

</body>

{% endblock %}