{% extends "base.html" %}
{% block title %}Laserball game on {{ game.start_time.strftime("%A, %B %d at %I:%M %p")}}{% endblock %}


{% block html_head %}

<style>
    .team_box {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0.5em;
        margin-left: 5em;
        margin-right: 5em;
    }

    .team {
        display: inline-block;
        height: 35%;
        padding: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 5em;
        margin-right: 5em;
        border: 0;
        vertical-align: top;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    table {
        margin: auto;
        padding: 1rem;
        border: 1px solid lightgray;
        border-collapse: collapse;
        width: 100%;
    }

    th, td, tr {
        text-align: center;
        border: 1px solid lightgray;
        height: 30px;
    }

    td {
        color: lightgray;
        padding: 2px;
    }

    tr:nth-child(even) {
        background-color: #252525;
    }

    tr:nth-child(even) > td:nth-child(1) {
        background-color: #252525;
    }

    tr:nth-child(odd) > td:nth-child(1) {
        background-color: var(--alternate-table-background-color);
    }

    tr > th:nth-child(1) {
        background-color: var(--alternate-table-background-color);
    }

    body {
        height: 130vh;
    }

    .desktop_notif {
        text-align: center;
        display: none;
    }

    #score_chart {
        max-width: 90%;
    }

    #score_chart {
        max-width: 90%;
    }

    #win_chance_before_game, #win_chance {
        max-width: 30%;
    }

    @media screen and (max-width: 1200px) {
        table tr td:nth-child(n+9) {
            display: none;
        }
        
        table tr th:nth-child(n+9) {
            display: none;
        }
    }

    @media screen and (max-width: 991px) {
        .userlist {
            background: none;
            width: 100%;
            height: 100%;
        }

        h2, h3 {
            zoom: 1.5;
        }

        .team_score {
            zoom: 2;
        }

        table {
            table-layout: auto;
            width: 100%;
        }

        .fixed-column {
            position: sticky;
            z-index: 1;
            left: 0px;
        }

        .outer-scrolling-table {
            width: 100%;
        }

        .inner-scrolling-table {
            position: relative;
            overflow: auto;
            border: 1px solid black;
            white-space: nowrap;
        }

        .team {
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
        }

        #teams {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .role {
            width: 75px;
        }

        .desktop_notif {
            display: block;
        }

        table {
            word-wrap: break-word;
        }

        .desktop_notif {
            display: block;
        }

        #content {
            height: 100%;
        }

        body {
            height: 85%;
        }

        #score_chart {
            max-width: 100%;
        }

        #win_chance {
            max-width: 100%;
        }

        .win_draw_chance {
            flex-direction: column;
        }
    }

    .link-button {
        background: none;
        border: none;
        color: #2fa4e7;
        cursor: pointer;
        font-size: 1em;
        margin: 0;
        font-family: Inter, Helvetica Neue, Tahoma, Arial, Hiragino Kaku Gothic ProN, Meiryo, Microsoft YaHei, Apple SD Gothic Neo, sans-serif;
    }

    .link-button h3 {
        margin: 0;
    }

    .link-button:focus {
        outline: none;
    }
</style>

<script>
    function compareValues(a, b) {
        return (a>b) ? -1 : (a<b) ? 1 : 0;
      }
      
    function sortTable(table, colnum) {
        let rows = Array.from(table.querySelectorAll("tr"));
        
        rows = rows.slice(1);
        
        let qs = `td:nth-child(${colnum})`;
        
        rows.sort( (r1,r2) => {
            let t1 = r1.querySelector(qs);
            let t2 = r2.querySelector(qs);
        
            return compareValues(parseInt(t1.textContent), parseInt(t2.textContent));
        });
        
        rows.forEach(row => table.appendChild(row));
    }

    function onReady() {
        if ({{ ice_score }} > {{ fire_score }}) {
            document.getElementById("teams").appendChild(document.getElementById("fire_team"));
        }

        row = 2;
        {% if game.ranked %}
            row = 3;
        {% endif %}

        sortTable(document.getElementById("fire_table"), row)
        sortTable(document.getElementById("ice_table"), row)
    }

    document.addEventListener("DOMContentLoaded", onReady);
</script>

{% endblock %}


{% block content %}

<div style="text-align: center;">
    <div style="margin-left: 2rem; margin-right: 2rem; text-align: center;">
        <span title="Game Date"><h2 style="font-size: 25px;">Game on {{ game.get_timestamp()}}</h2></span>
        <form method="post" action="/matchmaking" class="inline">
            <input type="hidden" name="mode" value="laserball">
            {% for player in players_matchmake_team1 %}
                <input type="hidden" name="1player{{ loop.index }}" value="{{ player }}">
            {% endfor %}
            {% for player in players_matchmake_team2 %}
                <input type="hidden" name="2player{{ loop.index }}" value="{{ player }}">
            {% endfor %}
            <button type="submit" class="link-button">
                <span title="Matchmake"><h3><a>Rematchmake</a></h3></span>
            </button>
        </form>
        {% if is_admin %}<span title="Admin Page"><h3><a href="/admin/game/laserball/{{ game.id }}/">Admin Page</a></h3></span>{% endif %}
        <span><h3><a href="/api/game/laserball/{{ game.id }}/tdf">Game File</a></h3></span>
        <span title="Replay"><h3><a href="/game/laserball/{{ game.id }}/replay">Replay</a></h3></span>
    </div>
    <div class="userlist" style="text-align: left;">
        <div style="clear: both;"></div>

        <div id="teams">
            <div id="fire_team" class="team">
                <h2 style="font-size: 20px; color: orangered;" class="team_score">Fire Team: {{ fire_score }}</h2>

                <div class="outer-scrolling-table">
                    <div class="inner-scrolling-table">
                        <table id="fire_table">
                            <th class="fixed-column"><p>Codename</p></th>
                            <th><p title="Score = (Goals + Assists) * 10000 + Steals * 100 + Blocks">Score</p></th>
                            {% if game.ranked %}
                                <th><p>Current Rating</p></th>
                            {% endif %}
                            <th><p>Goals</p></th>
                            <th><p>Assists</p></th>
                            <th><p>Steals</p></th>
                            <th><p>Clears</p></th>
                            <th><p>Passes</p></th>
                            <th><p>Blocks</p></th>
                            <th><p>Stolen</p></th>
                            <th><p>Blocked</p></th>
                            <th><p title="Goal = 1, Assist = 0.75, Steal = 0.5, Clear = 0.25, Block = 0.3">MVP Points</p></th>
                            <th><p>Accuracy</p></th>
                            <th><p>K/D</p></th>
                            {% for entity in game.entity_starts %}
                                {% if entity.type == "player" and entity.team.index == 0 %}
                                    {% set entity_end = get_entity_end(entity) %}
                                    {% set laserball_stats = get_laserballstats(entity) %}
                                    <tr>
                                        {% if entity.entity_id.startswith("@") %}
                                            <td class="fixed-column"><p>{{ entity.name }}</p></td>
                                            <td><p>{{ laserball_stats.score }}</p></td>
                                        {% else %}
                                            <td class="fixed-column"><a href="/player/{{entity.name}}"><p>{{ entity.name }}</p></a></td>
                                            <td><a href="/game/laserball/{{game.id}}/scorecard/{{entity_end.id}}">{{ laserball_stats.score }}</a></td>
                                        {% endif %}
                                        {% if entity_end.current_rating_mu and game.ranked %}
                                            <td title="mu: {{ entity_end.current_rating_mu|round(2) }}, sigma: {{ entity_end.current_rating_sigma|round(2) }}">{{ (entity_end.current_rating_mu - 3 * entity_end.current_rating_sigma)|round(2) }}</td>
                                        {% endif %}
                                        <td><p>{{ laserball_stats.goals }}</p></td>
                                        <td><p>{{ laserball_stats.assists }}</p></td>
                                        <td><p>{{ laserball_stats.steals }}</p></td>
                                        <td><p>{{ laserball_stats.clears }}</p></td>
                                        <td><p>{{ laserball_stats.passes }}</p></td>
                                        <td><p>{{ laserball_stats.blocks }}</p></td>
                                        <td><p>{{ laserball_stats.times_stolen }}</p></td>
                                        <td><p>{{ laserball_stats.times_blocked }}</p></td>
                                        <td><p>{{ "%.2f" % (laserball_stats.mvp_points|round(2)) }}</p></td>
                                        <td title="{{laserball_stats.shots_hit}}/{{laserball_stats.shots_fired}}"><p>{{ laserball_stats.shots_fired and "%.2f" % (((laserball_stats.shots_hit/laserball_stats.shots_fired)*100)|round(2)) }}%</p></td>
                                        <td title="{{laserball_stats.blocks}}/{{laserball_stats.times_blocked}}"><p>{{  laserball_stats.times_blocked and "%.2f" % ((laserball_stats.blocks/laserball_stats.times_blocked) | round(2)) }}</p></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div id="ice_team" class="team">
                <h2 style="font-size: 20px; color: #0096FF;" class="team_score">Ice Team: {{ ice_score }}</h2>

                <div class="outer-scrolling-table">
                    <div class="inner-scrolling-table">
                        <table id="ice_table">
                            <th class="fixed-column"><p>Codename</p></th>
                            <th><p title="Score = (Goals + Assists) * 10000 + Steals * 100 + Blocks">Score</p></th>
                            {% if game.ranked %}
                                <th><p>Current Rating</p></th>
                            {% endif %}
                            <th><p>Goals</p></th>
                            <th><p>Assists</p></th>
                            <th><p>Steals</p></th>
                            <th><p>Clears</p></th>
                            <th><p>Passes</p></th>
                            <th><p>Blocks</p></th>
                            <th><p>Stolen</p></th>
                            <th><p>Blocked</p></th>
                            <th><p title="Goal = 1, Assist = 0.75, Steal = 0.5, Clear = 0.25, Block = 0.3">MVP Points</p></th>
                            <th><p>Accuracy</p></th>
                            <th><p>K/D</p></th>
                            {% for entity in game.entity_starts %}
                                {% if entity.type == "player" and entity.team.index == 1 %}
                                    {% set entity_end = get_entity_end(entity) %}
                                    {% set laserball_stats = get_laserballstats(entity) %}
                                    <tr>
                                        {% if entity.entity_id.startswith("@") %}
                                            <td class="fixed-column"><p>{{ entity.name }}</p></td>
                                            <td><p>{{ laserball_stats.score }}</p></td>
                                        {% else %}
                                            <td class="fixed-column"><a href="/player/{{entity.name}}"><p>{{ entity.name }}</p></a></td>
                                            <td><a href="/game/laserball/{{game.id}}/scorecard/{{entity_end.id}}">{{ laserball_stats.score }}</a></td>
                                        {% endif %}
                                        {% if entity_end.current_rating_mu and game.ranked %}
                                            <td title="mu: {{ entity_end.current_rating_mu|round(2) }}, sigma: {{ entity_end.current_rating_sigma|round(2) }}">{{ (entity_end.current_rating_mu - 3 * entity_end.current_rating_sigma)|round(2) }}</td>
                                        {% endif %}
                                        <td><p>{{ laserball_stats.goals }}</p></td>
                                        <td><p>{{ laserball_stats.assists }}</p></td>
                                        <td><p>{{ laserball_stats.steals }}</p></td>
                                        <td><p>{{ laserball_stats.clears }}</p></td>
                                        <td><p>{{ laserball_stats.passes }}</p></td>
                                        <td><p>{{ laserball_stats.blocks }}</p></td>
                                        <td><p>{{ laserball_stats.times_stolen }}</p></td>
                                        <td><p>{{ laserball_stats.times_blocked }}</p></td>
                                        <td><p>{{ "%.2f" % (laserball_stats.mvp_points|round(2)) }}</p></td>
                                        <td title="{{laserball_stats.shots_hit}}/{{laserball_stats.shots_fired}}"><p>{{ laserball_stats.shots_fired and "%.2f" % (((laserball_stats.shots_hit/laserball_stats.shots_fired)*100)|round(2)) }}%</p></td>
                                        <td title="{{laserball_stats.blocks}}/{{laserball_stats.times_blocked}}"><p>{{ laserball_stats.times_blocked and  (laserball_stats.blocks/laserball_stats.times_blocked) | round(2) }}</p></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="stats">
            <canvas class="inline-block" id="score_chart" style="clear: both;"></canvas>
            <div style="width: 100%; display: flex; align-items: center;" class="win_draw_chance">
                <canvas class="inline-block" id="win_chance_before_game" style="clear: both;"></canvas>
                <canvas class="inline-block" id="win_chance" style="clear: both;"></canvas>
            </div>
        </div>

        <div style="clear: both;"></div>

        <h1 class="desktop_notif">For more detailed stats, please view the website on desktop.</h1>
    </div>
</div>

<script>
    already_shown_rounds = [];

    new Chart("score_chart", {
        type: "line",
        data: {
            labels: {{score_chart_labels}},
            datasets: [
            {
                label: "Fire Team Goals",
                data: {{score_chart_data_red}},
                borderColor: "orangered",
                fill: false,
                tension: 0.2,
                pointRadius: 0,
                pointHitRadius: 10
            },
            {
                label: "Ice Team Goals",
                data: {{score_chart_data_blue}},
                borderColor: "#0096FF",
                fill: false,
                tension: 0.2,
                pointRadius: 0,
                pointHitRadius: 10
            }
            ]
        },
        options: {
            tooltips: {
                callbacks: {
                    title: function(tooltipItem, data) {
                        // show formatted time

                        if (data["labels"][tooltipItem[0]["index"]]["x"].toString().endsWith(".5")) {
                            return data["labels"][tooltipItem[0]["index"]]["x"].toString().slice(0, -2) + ":30";
                        } else {
                            return data["labels"][tooltipItem[0]["index"]]["x"] + ":00";
                        }
                    },
                }
            },
            responsive: true,
            legend: {
                labels: {
                    fontColor: "white"
                }
            },
            title: {
                display: true,
                text: "Goals Scored Over Time",
                fontColor: "white"
            },
            scales: {
                xAxes: [{
                    id: "xAxis1",
                    ticks: {
                        fontColor: "white",
                        callback: function(value, index, values) {
                            if (value["x"].toString().endsWith(".5")) {
                                return value["x"].toString().slice(0, -2) + ":30";
                            } else {
                                return value["x"] + ":00";
                            }
                        }
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "Time",
                        fontColor: "white"
                    }
                },
                {
                    id: "xAxis2",
                    position: "top",
                    data: {{score_chart_data_rounds}},
                    ticks: {
                        fontColor: "white",
                        callback: function(value, index, values) {
                            if (already_shown_rounds.includes(value["y"])) {
                                return "";
                            }
                            already_shown_rounds.push(value["y"]);
                            return value["y"];
                        },
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "Current Round",
                        fontColor: "white"
                    }
                }
                ],
                yAxes: [{
                    ticks: {
                        fontColor: "white",
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "Score",
                        fontColor: "white"
                    }
                }]
            }
        }
    });

    {% if game.ranked and win_chance_before_game and win_chance_after_game %}
    new Chart("win_chance_before_game", {
        type: "pie",
        data: {
            labels: ["Fire", "Ice"],
            datasets: [{
                backgroundColor: ["#b91d47","#0047AB"],
                data: [{{ (win_chance_before_game[0]*100)|round(2) }}, {{ (win_chance_before_game[1]*100)|round(2) }}]
            }]
        },
        options: {
            legend: {
                display: false,
                fullSize: false
            },
            title: {
                display: true,
                text: "Predicted Win Chance",
                fontColor: "white"
            }
        }
    });

    new Chart("win_chance", {
        type: "pie",
        data: {
            labels: ["Fire", "Ice"],
            datasets: [{
                backgroundColor: ["#b91d47", "#0047AB"],
                data: [{{ (win_chance_after_game[0]*100)|round(2) }}, {{ (win_chance_after_game[1]*100)|round(2) }}]
            }]
        },
        options: {
            legend: {
                display: false,
                fullSize: false
            },
            title: {
                display: true,
                text: "Actual Win Chance",
                fontColor: "white"
            }
        }
    });
    {% endif %}
</script>

</body>

{% endblock %}