{% extends "base.html" %}
{% block title %}Replay{% endblock %}


{% block html_head %}

<script>
    game_id = {{ game_id }};
</script>

<script defer src="../../../assets/js/replay_sm5.js"></script>

<style>
    .replay_viewer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 2.5rem;
    }

    .event_box {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        transform: perspective(1000px) rotateX(20deg);
     }

    .events {
        display: inline-block;
        width: 100%;
        height: 70vh;
        padding: 10px;
        margin: 0;
        border: 0;
        text-align: center;

        border: 0px;
        overflow: hidden;
    }

    .player {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0;
        border: 0;
        vertical-align: top;
        margin: 0.25em;
        align-items: center;
        border-radius: 8px;
    }

    .player-top {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

    }

    .player-bottom {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .role {
        margin-left: 0.25em;
        margin-right: 0.25em;
        max-height: 30px;
    }

    .team {
        display: inline-block;
        height: 35%;
        padding: 1rem;
        margin-bottom: 2rem;
        border: 0;
        vertical-align: top;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .time-slider {
        width: 90%;
        margin: auto;
        margin-top: 16px;
    }

    .time-slider-control {
        width: 80%;
    }

    .timestamp {
        font-size: xx-large;
    }

    table {
        margin: auto;
        padding: 1rem;
        border: 1px solid lightgray;
        border-collapse: collapse;
        width: 100%;
    }

    th, td, tr {
        text-align: center;
        border: 1px solid lightgray;
    }

    td {
        color: lightgray;
        padding: 2px;
    }

    tr:nth-child(even) {
        background-color: #252525;
    }

    .controls {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 2rem;
        width: 100%;
    }

    .control {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }

    #replay_viewer {
        display: none;
    }

    #time_slider {
        display: none;
    }

    #teams_loading_placeholder {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% - 164px);
    }

    #fire_team tr td .player_codename {
        color: orangered;
    }

    #earth_team tr td .player_codename {
        color: greenyellow;
    }


    @media screen and (max-width: 991px) {
        .replay_viewer {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 2.5rem;
        }

        .event_box {
            width: 90%;
            height: 100%;
            display: flex;
            flex-direction: column;
            margin: auto;
        }

        table tr th:nth-child(n+7), table tr th:nth-child(n+7), table tr td:nth-child(n+7), table tr td:nth-child(n+7) {
            display: none;
        }
        
        h2 {
            zoom: 2;
        }

        .event {
            zoom: 1.75;
        }
    }
</style>
{% endblock %}

{% block content %}

<div id="teams_loading_placeholder">
    <h1>Loading Replay...</h1>
</div>
<div class="replay_viewer" id="replay_viewer">
    <div id="teams" class="team_box">
        <div id="fire_team" class="team">
            <h2 style="font-size: 20px; color: orangered;" class="team_score" id="fire_team_score">Fire Team: 0</h2>

            <table id="fire_table">
                <th class="role"><p>Role</p></th>
                <th><p>Codename</p></th>
                <th><p>Score</p></th>
                <th><p>Lives</p></th>
                <th><p>Shots</p></th>
                <th><p>Missiles</p></th>
                <th><p>Spec</p></th>
                <th><p>Accuracy</p></th>
                <th><p>K/D</p></th>
            </table>
        </div>
        <div id="earth_team" class="team">
            <h2 style="font-size: 20px; color: greenyellow;" class="team_score" id="earth_team_score">Earth Team: 0</h2>

            <table id="earth_table">
                <th class="role"><p>Role</p></th>
                <th><p>Codename</p></th>
                <th><p>Score</p></th>
                <th><p>Lives</p></th>
                <th><p>Shots</p></th>
                <th><p>Missiles</p></th>
                <th><p>Spec</p></th>
                <th><p>Accuracy</p></th>
                <th><p>K/D</p></th>
            </table>
        </div>
    </div>
    <div class="event_box">
        <div class="events" id="events">

        </div>
        <div class="controls">
            <button id="play" class="control">Play</button>
            <select id="speed" class="control" onChange="onSpeedChange();">
                <option value="0.25">0.25x</option>
                <option value="0.5">0.5x</option>
                <option value="1.0" selected>1.0x</option>
                <option value="1.5">1.5x</option>
                <option value="2.0">2.0x</option>
            </select>
            <button id="restart" class="control">Restart</button>
        </div>
    </div>

</div>

<div class="time-slider" id="time_slider">
    <input class="time-slider-control"
           type="range" id="time-slider" name="time-slider" min="0"
           max="900" value="0" onInput="onTimeChange(this.value);"/>
    <label for="time-slider" id="timestamp" class="timestamp">00:00</label>
</div>


{% endblock %}