{% extends "base.html" %}
{% block title %}Replay{% endblock %}


{% block html_head %}

<script>
    game_id = {{ game_id }};
</script>

<link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css"/>
<script defer src="https://pyscript.net/latest/pyscript.js"></script>
<py-config>
    terminal = false
    [splashscreen]
        enabled = false
    
    [[fetch]]
    from = "../../assets/python/"
    files = ["helpers.py"]
</py-config>
<py-script src="../../assets/python/replay.py"></py-script>

<style>
    .replay_viewer {
        width: 100%;
        height: calc(100% - 164px);
        display: flex;
        flex-direction: row;
    }

    .team_box {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0.5em;
        margin-left: 15em;
        margin-top: 5em;
    }

    .event_box {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-left: 15em;
        margin-top: 5em;
        margin-right: 15em;
    }

    .events {
        display: inline-block;
        width: 100%;
        height: 70%;
        padding: 10px;
        margin: 0;
        border: 0;

        border: 2px solid gray;
        border-radius: 10px;
        overflow: auto;
    }

    .player {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0;
        border: 0;
        vertical-align: top;
        margin: 0.25em;
        align-items: center;
        border-radius: 8px;
    }

    .player-top {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

    }

    .player-bottom {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .role {
        margin-left: 0.25em;
        margin-right: 0.25em;
        max-height: 30px;
    }

    table {
        display: inline-block;
        width: min-content;
        padding: 10px;
        margin-bottom: 3rem;
        border: 0;
        vertical-align: top;
        
        border: 2px solid gray;
        border-radius: 10px;

        border-collapse: collapse;
    }

    th, td {
        padding: 0.25em;
    }

    th, td, tr {
        text-align: left;
    }

    .controls {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 2rem;
        width: 100%;
    }

    .control {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }
</style>
{% endblock %}

{% block content %}

<div class="replay_viewer">
    <div class="team_box">
        <table id="fire_team">
            <tr>
                <th><p>Role</p></th>
                <th><p>Codename</p></th>
                <th><p>Score</p></th>
                <th><p>Lives</p></th>
                <th><p>Shots</p></th>
                <th><p>Missiles</p></th>
                <th><p>Spec</p></th>
                <th><p>Accuracy</p></th>
            </tr>
        </table>
        <table id="earth_team">
            <tr>
                <th><p>Role</p></th>
                <th><p>Codename</p></th>
                <th><p>Score</p></th>
                <th><p>Lives</p></th>
                <th><p>Shots</p></th>
                <th><p>Missiles</p></th>
                <th><p>Spec</p></th>
                <th><p>Accuracy</p></th>
            </tr>
        </table>
    </div>
    <div class="event_box">
        <div class="events" id="events">
            
        </div>
        <div class="controls">
            <button id="play" class="control">Play</button>
            <select id="speed" class="control">
                <option value="0.25">0.25x</option>
                <option value="0.5">0.5x</option>
                <option value="1.0" selected>1.0x</option>
                <option value="2.0">2.0x</option>
                <option value="4.0">4.0x</option>
            </select>
            <button id="restart" class="control">Restart</button>
        </div>
    </div>
</div>



{% endblock %}