{% extends "base.html" %}
{% block title %}Replay{% endblock %}


{% block html_head %}

<script>
    game_id = {{ game_id }};
</script>

<script defer src="../../../assets/js/replay_laserball.js"></script>

<style>
    .replay_viewer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 2.5rem;
    }

    .event_box {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .events {
        display: inline-block;
        width: 100%;
        height: 70vh;
        padding: 10px;
        margin: 0;
        border: 0;

        border: 2px solid gray;
        border-radius: 10px;
        overflow: auto;
    }

    .player {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0;
        border: 0;
        vertical-align: top;
        margin: 0.25em;
        align-items: center;
        border-radius: 8px;
    }

    .player-top {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

    }

    .player-bottom {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .role {
        margin-left: 0.25em;
        margin-right: 0.25em;
        max-height: 30px;
    }

    .team {
        display: inline-block;
        height: 35%;
        padding: 1rem;
        margin-bottom: 2rem;
        border: 0;
        vertical-align: top;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    table {
        margin: auto;
        padding: 1rem;
        border: 1px solid lightgray;
        border-collapse: collapse;
        width: 100%;
    }

    th, td, tr {
        text-align: center;
        border: 1px solid lightgray;
    }

    td {
        color: lightgray;
        padding: 2px;
    }

    tr:nth-child(even) {
        background-color: #252525;
    }

    .controls {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 2rem;
        width: 100%;
    }

    .control {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }

    #replay_viewer {
        display: none;
    }

    #teams_loading_placeholder {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% - 164px);
    }

    #fire_team tr td .player_codename {
        color: orangered;
    }

    #ice_team tr td .player_codename {
        color: #0096FF;
    }
</style>
{% endblock %}

{% block content %}

<div id="teams_loading_placeholder">
    <h1>Loading Replay...</h1>
</div>
<div class="replay_viewer"  id="replay_viewer">
    <div class="team_box" id="teams">
        <div id="fire_team" class="team">
            <h2 style="font-size: 20px; color: orangered;" class="team_score">Fire Team: {{ fire_score }}</h2>

            <table id="fire_table">
                <th><p>Codename</p></th>
                <th><p>Goals</p></th>
                <th><p>Assists</p></th>
                <th><p>Steals</p></th>
                <th><p>Clears</p></th>
                <th><p>Passes</p></th>
                <th><p>Blocks</p></th>
                <th><p>Accuracy</p></th>
            </table>
        </div>

        <div id="ice_team" class="team">
            <h2 style="font-size: 20px; color: #0096FF;" class="team_score">Ice Team: {{ ice_score }}</h2>

            <table id="ice_table">
                <th><p>Codename</p></th>
                <th><p>Goals</p></th>
                <th><p>Assists</p></th>
                <th><p>Steals</p></th>
                <th><p>Clears</p></th>
                <th><p>Passes</p></th>
                <th><p>Blocks</p></th>
                <th><p>Accuracy</p></th>
            </table>
        </div>
    </div>
    <div class="event_box">
        <div class="events" id="events">
            
        </div>
        <div class="controls">
            <button id="play" class="control">Play</button>
            <select id="speed" class="control">
                <option value="0.25">0.25x</option>
                <option value="0.5">0.5x</option>
                <option value="1.0" selected>1.0x</option>
                <option value="1.5">1.5x</option>
                <option value="2.0">2.0x</option>
            </select>
            <button id="restart" class="control">Restart</button>
        </div>
    </div>
</div>



{% endblock %}