{% extends "base.html" %}
{% block title %}Replay{% endblock %}


{% block html_head %}

<script>
    game_id = {{ game_id }};
</script>

<script defer src="../../../assets/js/replay_laserball.js"></script>

<link rel="stylesheet" href="../../css/game/replay_laserball.css">
{% endblock %}

{% block content %}

<div id="teams_loading_placeholder">
    <h1>Loading Replay...</h1>
</div>
<div class="replay_viewer" id="replay_viewer">
    <div class="team_box" id="teams">
        <div id="fire_team" class="team">
            <h2 style="font-size: 20px; color: orangered;" class="team_score" id="fire_team_score">Fire Team: 0</h2>

            <table id="fire_table">
                <th><p>Codename</p></th>
                <th><p>Goals</p></th>
                <th><p>Assists</p></th>
                <th><p>Steals</p></th>
                <th><p>Clears</p></th>
                <th><p>Passes</p></th>
                <th><p>Blocks</p></th>
                <th><p>Accuracy</p></th>
            </table>
        </div>

        <div id="ice_team" class="team">
            <h2 style="font-size: 20px; color: #0096FF;" class="team_score" id="ice_team_score">Ice Team: 0</h2>

            <table id="ice_table">
                <th><p>Codename</p></th>
                <th><p>Goals</p></th>
                <th><p>Assists</p></th>
                <th><p>Steals</p></th>
                <th><p>Clears</p></th>
                <th><p>Passes</p></th>
                <th><p>Blocks</p></th>
                <th><p>Accuracy</p></th>
            </table>
        </div>
    </div>
    <div class="event_box">
        <div class="events" id="events">

        </div>
        <div class="controls">
            <button id="play" class="control">Play</button>
            <select id="speed" class="control">
                <option value="0.25">0.25x</option>
                <option value="0.5">0.5x</option>
                <option value="1.0" selected>1.0x</option>
                <option value="1.5">1.5x</option>
                <option value="2.0">2.0x</option>
            </select>
            <button id="restart" class="control">Restart</button>
        </div>
    </div>
</div>


{% endblock %}