{% extends "base.html" %}
{% block title %}Replay for {% if game_type == "sm5" %}SM5{% else %}{{game_type|capitalize}}{% endif %} Game #{{ game_id }}{% endblock %}
{% block meta_description %}Replay for {% if game_type == "sm5" %}SM5{% else %}{{game_type|capitalize}}{% endif %} Game #{{ game_id }} on {{ game.start_time.strftime("%A, %B %d at %I:%M %p") }}.{% endblock %}

{% block html_head %}

<link rel="stylesheet" href="/assets/css/game/replay.css">
<meta name="robots" content="noindex, follow">
{% endblock %}

{% block content %}

<div id="teams_loading_placeholder">
    <h1>Loading Replay...</h1>
</div>
<div class="replay_viewer" id="replay_viewer">
    <div id="teams" class="team_box">
    </div>
    <div class="events_main">
        <div class="event_box">
            <div class="events" id="events">
            </div>
        </div>
        <div class="controls">
            <button id="play" class="control">Play</button>
            <select id="speed" class="control" onChange="onSpeedChange();">
                <option value="0.25">0.25x</option>
                <option value="0.5">0.5x</option>
                <option value="1.0" selected>1.0x</option>
                <option value="1.5">1.5x</option>
                <option value="2.0">2.0x</option>
            </select>
            <button id="restart" class="control">Restart</button>
        </div>
    </div>
</div>

<div class="time-slider" id="time_slider">
    <input class="time-slider-control"
           type="range" id="time-slider" name="time-slider" min="0"
           max="900" value="0" onInput="onTimeChange(this.value);"/>
    <label for="time-slider" id="timestamp" class="timestamp">00:00</label>
</div>

<div class="realworld-timestamp" id="realworld-timestamp"></div>

<script defer src="/assets/../assets/js/replay.js"></script>
<script defer src="/api/internal/game/{{ game_type }}/{{ game_id }}/replay_data"></script>

{% endblock %}