{% extends "base.html" %}
{% block title %}SM5 game on {{ game.start_time.strftime("%A, %B %d at %I:%M %p") }}{% endblock %}


{% block html_head %}

<style>
    table {
        margin: auto;
        padding: 1rem;
        border: 1px solid lightgray;
        border-collapse: collapse;
        width: 100%;
        color: lightgray;
    }

    th, td, tr {
        text-align: center;
        border: 1px solid lightgray;
    }

    td {
        padding: 2px;
    }

    tr:nth-child(even) {
        background-color: #252525;
    }

    body {
        height: 100vh;
    }

    .role {
        width: 50px;
    }

    .desktop_notif {
        text-align: center;
        display: none;
    }

    #score_chart {
        max-width: 90%;
    }

    #win_chance_before_game, #win_chance {
        max-width: 30%;
    }

    @media screen and (max-width: 1200px) {
        table tr td:nth-child(n+11) {
            display: none;
        }
        
        table tr th:nth-child(n+11) {
            display: none;
        }
    }

    @media screen and (max-width: 991px) {
        .userlist {
            background: none;
            width: 100%;
            height: 100%;
            margin: 0;
        }

        h2, h3 {
            zoom: 1.5;
        }

        table {
            table-layout: auto;
        }

        table tr td:nth-child(n+6) {
            display: none;
        }
        
        table tr th:nth-child(n+6) {
            display: none;
        }

        .desktop_notif {
            display: block;
        }

        #content {
            height: 100%;
        }

        body {
            height: 85%;
        }
    }


    .link_button {
        background: none;
        border: none;
        color: #2fa4e7;
        cursor: pointer;
        font-size: 1em;
        margin: 0;
        font-family: Inter, Helvetica Neue, Tahoma, Arial, Hiragino Kaku Gothic ProN, Meiryo, Microsoft YaHei, Apple SD Gothic Neo, sans-serif;
    }

    .link_button h3 {
        margin: 0;
    }

    .link_button:focus {
        outline: none;
    }

    .player_name_header {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fire_team_header, .earth_team_header {
        font-size: 20px;
        float: none;
        margin-bottom: 16px;
    }

    .fire_team_header {
        color: orangered;
        font-size: 20px;
    }

    .earth_team_header {
        color: greenyellow;
        font-size: 20px;
    }

    .scorecard_main_stats {
        width: 45%;
        float: left;
    }

    .scorecard_player_stats {
        width: 45%;
        float: left;
    }

    .player {
    }

    .active_player {
        font-weight: bold;
    }

    .eliminated_player {
        color: gray;
    }

    @media screen and (max-width: 991px) {
        .scorecard_main_stats {
            width: 95%;
        }

        .scorecard_player_stats {
            width: 95%;
        }

        .scorecard_stats {
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .scorecard_main_stats {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        /* center stuff on mobile */
        .scorecard {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    @media screen and (min-width: 991px) {
        .scorecard {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        .scorecard_main_stats {
            width: 100%;
        }

        .scorecard_stats {
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .scorecard_team_stats {
        float: none;
        margin-bottom: 16px;
    }

    table.scorecard_main_stats_table {
        border: 0px;
        width: 90%;
    }

    table.scorecard_player_stats_table {
        border: 0px;
        width: 90%;
    }

    .scorecard_graphs {
        width: 100%;
        margin-top: 5rem;
        display: flex;
        align-items: center;
    }

    .chart {
        max-width: 50%;
        display: flex;
    }

    .mini-chart {
        max-width: 64px;
        display: flex;
    }
</style>

{% endblock %}


{% block content %}

<div style="text-align: center;">
    <div style="margin-left: 2rem; margin-right: 2rem; text-align: center;">
        <span title="Game Date"><h2 style="font-size: 25px;">Scorecard for {{entity_start.name}} on {{ game.get_timestamp()}}</h2></span>

        <span title="Admin Page"><h3><a href="/game/sm5/{{ game.id }}/">Game</a></h3></span>
    </div>
    <div class="scorecard">
        <div class="scorecard_stats">
            <div class="scorecard_main_stats">
                <div class="player_name_header">
                    <img src="/assets/sm5/roles/{{entity_start.role|string|lower}}.png" alt="role image" width="30"
                         height="30">
                    <h2 style="font-size: 20px;">&nbsp;{{entity_start.name}}</h2>

                </div>
                <table class="scorecard_main_stats_table">
                    {% for key, value in main_stats.items() %}
                    <tr>
                        <td class="scorecard_main_key">{{ key }}</td>
                        <td class="scorecard_main_value">{{ value }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="scorecard_graphs">
                <canvas class="chart" id="score_composition"></canvas>
            </div>
            <div class="scorecard_graphs">
                <canvas class="chart" id="state_distribution"></canvas>
            </div>
        </div>

        <div class="scorecard_player_stats">
            {% for team in teams %}
            <div class="scorecard_team_stats">
                <h2 class="{{ team.class_name }}_team_header">{{ team.name }} ({{ team.score }})</h2>
                <table class="scorecard_player_stats_table">
                    <tr>
                        <th>Player</th>
                        <th>Role</th>
                        <th>Score</th>
                        <th>Uptime</th>
                        <th>K/D</th>
                        <th>Lives</th>
                        <th>Time in game</th>
                        <th>You zapped</th>
                        <th>Zapped you</th>
                        <th>Hit ratio</th>
                        <th>You missiled</th>
                        <th>Missiled you</th>
                        <th><a href="https://lfstats.com/pages/aboutSM5#:~:text=Lose%203%20lives-,MVP%20Points,-All%20Players" target="_blank">MVP Points</a></th>
                    </tr>
                    {% for player in team.players %}
                    <tr class="{{ player.css_class }}">
                        <td class="scorecard_player_stat">
                            <a href="/game/sm5/{{game.id}}/scorecard/{{player.entity_end_id}}">{{ player.name }}</a>
                        </td>
                        <td class="scorecard_player_stat"><img src="/assets/sm5/roles/{{player.role|string|lower}}.png"
                                                               alt="role image" width="30"
                                                               height="30"></td>
                        <td class="scorecard_player_stat">{{ player.score }}</td>
                        <td class="scorecard_player_stat"><canvas class="mini-chart" id="uptime_{{player.entity_end_id}}"></canvas></td>
                        <td class="scorecard_player_stat">{{ player.kd_ratio }}</td>
                        <td class="scorecard_player_stat">{{ player.lives_left }}</td>
                        <td class="scorecard_player_stat"><canvas class="mini-chart" id="time_in_game_{{player.entity_end_id}}"></canvas></td>
                        <td class="scorecard_player_stat">{{ player.you_zapped }}</td>
                        <td class="scorecard_player_stat">{{ player.zapped_you }}</td>
                        <td class="scorecard_player_stat">{{ player.hit_ratio }}</td>
                        <td class="scorecard_player_stat">{{ player.you_missiled }}</td>
                        <td class="scorecard_player_stat">{{ player.missiled_you }}</td>
                        <td class="scorecard_player_stat">{{ player.mvp_points }}</td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="scorecard_graphs">
        <canvas class="chart" id="score_chart"></canvas>
    </div>
</div>

<script>
    already_shown_rounds = [];

    new Chart("score_composition", {
        // IMPORTANT: If ChartJs is ever upgrade to 3.0.0 or beyond, this needs to change to type "bar" with
        // the option indexAxis set to "y".
        type: "horizontalBar",
        data: {
            labels: [{{ score_composition_labels }}],
            datasets: [{
                backgroundColor: [{{ score_composition_colors }}],
                data: [{{ score_composition_values }}]
            }]
        },
        options: {
            legend: {
                display: false,
            },
            scales: {
                xAxes: [{
                    ticks: {
                        fontColor: "white"
                    }
                }],
                yAxes: [{
                    ticks:{
                        fontColor: "white"
                    }
                }]
            },
            title: {
                display: true,
                text: "Score Composition",
                fontColor: "white"
            }
        }
    });

    new Chart("state_distribution", {
        type: "pie",
        data: {
            labels: {{ state_distribution_labels }},
            datasets: [{
                backgroundColor: {{ state_distribution_colors }},
                data: {{ state_distribution_values }}
            }]
        },
        options: {
            legend: {
                display: true,
                fullSize: false
            },
            title: {
                display: true,
                text: "Time spent in each state",
                fontColor: "white"
            },
            tooltips: {
                callbacks: {
                    label: function(tooltipItem, data) {
                        const index = tooltipItem["index"];
                        const label = data.labels[index];
                        const milliseconds = data.datasets[0].data[index];

                        return `${label}: ${ms_to_mmss(milliseconds)}`;
                    }
                }
            },
        }
    });

    new Chart("score_chart", {
        type: "line",
        data: {
            labels: {{score_chart_labels}},
            datasets: [
            {
                label: "{{entity_start.name}}'s Score",
                data: {{score_chart_data}},
                borderColor: "orangered",
                fill: false,
                tension: 0.4,
                pointRadius: 0,
                pointHitRadius: 10
            }
            ]
        },
        options: {
            tooltips: {
                callbacks: {
                    title: function(tooltipItem, data) {
                        // show formatted time

                        var time = data.labels[tooltipItem[0].index];

                        if (time.toString().endsWith(".5")) {
                            return time.toString().slice(0, -2) + ":30";
                        } else {
                            return time + ":00";
                        }
                    },
                }
            },
            responsive: true,
            // change label colors to white
            legend: {
                labels: {
                    fontColor: "white"
                }
            },
            title: {
                display: true,
                text: "Score Over Time",
                fontColor: "white"
            },
            scales: {
                xAxes: [{
                    ticks: {
                        fontColor: "white",
                        callback: function(value, index, values) {
                            if (value.toString().endsWith(".5")) {
                                return value.toString().slice(0, -2) + ":30";
                            } else {
                                return value + ":00";
                            }
                        },
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "Time",
                        fontColor: "white"
                    }
                }],
                yAxes: [{
                    ticks: {
                        fontColor: "white",
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "Score",
                        fontColor: "white"
                    }
                }]
            }
        }
    });

    {% for team in teams %}
            {% for player in team.players %}
            {{ uptime_chart(player.entity_end_id, player.state_distribution) }}
            {{ alive_time_chart(player.entity_end_id, player.time_in_game_values) }}
         {% endfor %}
    {% endfor %}

</script>

{% endblock %}