{% extends "base.html" %}
{% block title %}Scorecard for {{entity_start.name}}{% endblock %}
{% block meta_description %}Scorecard for {{entity_start.name}} in SM5 game on {{ game.start_time.strftime("%A, %B %d at %I:%M %p") }}{% endblock %}

{% block html_head %}
<link rel="stylesheet" href="/assets/css/game/scorecard_sm5.css">
<meta name="robots" content="noindex, follow">
{% endblock %}


{% block content %}

<div style="text-align: center;">
    <div style="margin-left: 2rem; margin-right: 2rem; text-align: center;">
        <span title="Game Date"><h2 style="font-size: 25px;">Scorecard for {{entity_start.name}} on {{ game.get_timestamp()}}</h2></span>

        <span title="Admin Page"><h3><a href="/game/sm5/{{ game.id }}/">Game</a></h3></span>
    </div>
    <div class="scorecard">
        <div class="scorecard_stats">
            <div class="scorecard_main_stats">
                <div class="player_name_header">
                    <img src="/assets/sm5/roles/{{entity_start.role|string|lower}}.png" alt="role image" width="30"
                         height="30">
                    <h2 style="font-size: 20px;">&nbsp;{{entity_start.name}}</h2>

                </div>
                <table class="scorecard_main_stats_table">
                    {% for key, value in main_stats.items() %}
                    <tr>
                        <td class="scorecard_main_key">{{ key }}</td>
                        <td class="scorecard_main_value">{{ value }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="chart_container">
                <div class="scorecard_graphs chart">
                    <canvas id="score_composition"></canvas>
                </div>
                <div class="scorecard_graphs chart">
                    <canvas id="state_distribution"></canvas>
                </div>
            </div>
        </div>

        <div class="scorecard_player_stats">
            {% for team in teams %}
            <div class="scorecard_team_stats">
                <h2 class="{{ team.team.css_class }} team-header">{{ team.name }}: {{ team.score }}{{ team.score_adjustment_string }}</h2>
                <div class="outer-scrolling-table">
                    <div class="inner-scrolling-table">
                        <table class="scorecard_player_stats_table">
                            <tr>
                                <th class="role fixed-column" {{ tooltip("sm5_role") }}><p>Role</p></th>
                                <th class="second-fixed-column" {{ tooltip("sm5_codename") }}><p>Codename</p></th>
                                <th {{ tooltip("sm5_score") }}><p>Score</p></th>
                                <th {{ tooltip("sm5_positive_score") }}><p>Positive Score</p></th>
                                <th {{ tooltip("sm5_points_minute") }}><p>Points / Minute</p></th>
                                <th {{ tooltip("sm5_lives_left") }}><p>Lives Left</p></th>
                                <th {{ tooltip("sm5_alive") }}><p>Alive</p></th>
                                <th {{ tooltip("sm5_shots_left") }}><p>Shots Left</p></th>
                                <th {{ tooltip("sm5_accuracy") }}><p>Accuracy</p></th>
                                <th {{ tooltip("sm5_kd_ratio") }}><p>K/D Ratio</p></th>
                                <th {{ tooltip("sm5_states") }}><p>States</p></th>
                                <th {{ tooltip("sm5_you_zapped") }}><p>You zapped</p></th>
                                <th {{ tooltip("sm5_zapped_you") }}><p>Zapped you</p></th>
                                <th {{ tooltip("sm5_hit_ratio") }}><p>Hit ratio</p></th>
                                <th {{ tooltip("sm5_you_missiled") }}><p>You missiled</p></th>
                                <th {{ tooltip("sm5_missiled_you") }}><p>Missiled you</p></th>
                                <th {{ tooltip("sm5_mvp_points") }}><a href="https://lfstats.com/pages/aboutSM5#:~:text=Lose%203%20lives-,MVP%20Points,-All%20Players" target="_blank"><p>MVP Points</p></a></th>
                            </tr>
                            {% for player in team.players_with_sum %}
                            <tr class="{{ player.css_class }}">
                                <td class="role fixed-column">{{ sm5_role_icon(player) }}</td>
                                <td class="second-fixed-column">{{ player_with_penalties(player) }}</td>
                                <td>{{ player.score }}</td>
                                <td>{{ player.get_gross_positive_score() }}</td>
                                <td>{{ player.points_per_minute }}</td>
                                <td>{{ player.lives_left }}</td>
                                <td {{ tooltip("sm5_alive") }}>
                                {% if player.entity_end %}
                                <div style="display: flex">
                                    <div class="mini-chart">
                                        <canvas id="time_in_game_{{player.entity_end.id}}"></canvas>
                                    </div>
                                    <span style="margin: auto">{{ player.time_in_game_str }}</span>
                                </div>
                                {% endif %}
                                </td>
                                <td>{{ player.shots_left }}</td>
                                <td title="{{player.shots_hit}}/{{player.shots_fired}}">{{ player.accuracy_str }}</td>
                                <td>{{ player.kd_ratio_str }}</td>
                                <td {{ tooltip("sm5_states") }}>
                                {% if player.entity_end %}
                                <div class="mini-chart" style="margin: auto">
                                    <canvas id="uptime_{{player.entity_end.id}}"></canvas>
                                </div>
                                {% endif %}
                                </td>
                                <td>{{ player.zapped_by_main_player }}</td>
                                <td>{{ player.zapped_main_player }}</td>
                                <td>{{ player.main_player_hit_ratio }}</td>
                                <td>{{ player.missiled_by_main_player }}</td>
                                <td>{{ player.missiled_main_player }}</td>
                                <td>{{ "%.2f" % (player.mvp_points | round(2)) }}</td>
                            </tr>
                            {% endfor %}

                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="scorecard_graphs chart">
        <canvas id="score_chart"></canvas>
    </div>
</div>

<script>
    already_shown_rounds = [];

    new Chart("score_composition", {
        type: "bar",
        data: {
            labels: [{{ score_composition_labels }}],
            datasets: [{
                backgroundColor: [{{ score_composition_colors }}],
                borderColor: [{{ score_composition_colors }}],
                data: [{{ score_composition_values }}]
            }]
        },
        options: {
            indexAxis: "y",
            plugins: {
                legend: {
                    display: false,
                },
                title: {
                    display: true,
                    text: "Score Composition",
                    color: "white"
                }
            },
            scales: {
                x: {
                    type: "linear",
                    ticks: {
                        color: "white"
                    }
                },
                y: {
                    ticks: {
                        color: "white"
                    }
                }
            }
        }
    });

    new Chart("state_distribution", {
        type: "pie",
        data: {
            labels: {{ state_distribution_labels }},
            datasets: [{
                backgroundColor: {{ state_distribution_colors }},
                borderColor: "white",
                data: {{ state_distribution_values }}
            }]
        },
        options: {
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: true,
                    fullSize: false
                },
                title: {
                    display: true,
                    text: "Time spent in each state",
                    color: "white"
                },
                tooltip: {
                    callbacks: {
                        label: function(tooltipItem) {
                            const index = tooltipItem.dataIndex;
                            const label = this.chart.data.labels[index];
                            const milliseconds = this.chart.data.datasets[0].data[index];

                            return `${label}: ${ms_to_mmss(milliseconds)}`;
                        }
                    }
                }
            }
        }
    });

    new Chart("score_chart", {
        type: "line",
        data: {
            labels: {{score_chart_labels}},
            datasets: [
            {% for player_score_chart in score_chart_data %}
            {
                label: "{{ player_score_chart.label }}",
                data: {{ player_score_chart.data }},
                backgroundColor: "{{ player_score_chart.color }}",
                borderColor: "{{ player_score_chart.color }}",
                borderWidth: {{ player_score_chart.borderWidth }},
                fill: false,
                tension: 0.4,
                pointRadius: 0,
                pointHitRadius: 30
            }{{ "," if not loop.last }}
            {% endfor %}
            ]
        },
        options: {
            plugins: {
                tooltip: {
                    callbacks: {
                        title: tooltip_minute_to_mmss
                    }
                },
                // change label colors to white
                legend: {
                    labels: {
                        color: "white"
                    },
                },
                title: {
                    display: true,
                    text: "Score Over Time",
                    color: "white"
                }
            },
            scales: {
                x: {
                    type: "linear",
                    ticks: {
                        color: "white",
                        callback: tick_minute_to_mmss
                    },
                    title: {
                        display: true,
                        text: "Time",
                        color: "white"
                    }
                },
                y: {
                    type: "linear",
                    ticks: {
                        color: "white",
                    },
                    title: {
                        display: true,
                        text: "Score",
                        color: "white"
                    }
                }
            }
        }
    });

    {% for team in teams %}
            {% for player in team.players %}
                {{ uptime_chart(player.entity_end.id, player.state_distribution_pie_chart) }}
                {{ alive_time_chart(player) }}
         {% endfor %}
    {% endfor %}

</script>

{% endblock %}