{% extends "base.html" %}
{% block title %}SM5 game on {{ game.start_time.strftime("%A, %B %d at %I:%M %p") }}{% endblock %}


{% block html_head %}

<style>
    .team_box {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0.5em;
        margin-left: 5em;
        margin-right: 5em;
    }

    .team {
        display: inline-block;
        height: 35%;
        padding: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border: 0;
        vertical-align: top;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #teams {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        margin: auto;
        padding: 1rem;
        border: 1px solid lightgray;
        border-collapse: collapse;
        width: 100%;
        color: lightgray;
    }

    th, td, tr {
        text-align: center;
        border: 1px solid lightgray;
    }

    td {
        padding: 2px;
    }

    tr:nth-child(even) {
        background-color: #252525;
    }

    body {
        height: 130vh;
    }

    .role {
        width: 50px;
    }

    .desktop_notif {
        text-align: center;
        display: none;
    }

    .score-chart {
        width: 90%;
        position: relative;
        height: 500px;
    }

    .lives-chart {
        width: 90%;
        position: relative;
        height: 500px;
    }

    .win-draw-chance {
        flex-direction: row;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .win-chance-before-game, .win-chance {
        width: 30%;
        position: relative;
    }

    @media screen and (max-width: 991px) {
        .userlist {
            background: none;
            width: 100%;
            height: 100%;
            margin: 0;
        }

        h2, h3 {
            zoom: 1.5;
        }

        .team_score {
            zoom: 2;
        }

        table {
            table-layout: auto;
            width: 100%;
        }

        tr:nth-child(even) > td:nth-child(1) {
            background-color: #252525;
        }

        tr:nth-child(odd) > td:nth-child(1) {
            background-color: var(--alternate-table-background-color);
        }

        tr:nth-child(even) > td:nth-child(2) {
            background-color: #252525;
        }

        tr:nth-child(odd) > td:nth-child(2) {
            background-color: var(--alternate-table-background-color);
        }

        tr > th:nth-child(1) {
            background-color: var(--alternate-table-background-color);
        }

        tr > th:nth-child(2) {
            background-color: var(--alternate-table-background-color);
        }

        .team {
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
        }

        #teams {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .role {
            width: 75px;
            min-width: 75px;
        }

        .desktop_notif {
            display: block;
        }

        #content {
            height: 100%;
        }

        body {
            height: 85%;
        }

        .score-chart {
            max-width: 100%;
            position: relative;
        }

        .lives-chart {
            max-width: 100%;
            position: relative;
        }

        .win-chance-before-game, .win-chance {
            width: 100%;
            position: relative;
        }

        .win-draw-chance {
            flex-direction: column;
        }
    }

    .mini-chart {
        width: 32px;
        position: relative;
    }

    .link-button {
        background: none;
        border: none;
        color: #2fa4e7;
        cursor: pointer;
        font-size: 1em;
        margin: 0;
        font-family: Inter, Helvetica Neue, Tahoma, Arial, Hiragino Kaku Gothic ProN, Meiryo, Microsoft YaHei, Apple SD Gothic Neo, sans-serif;
    }

    .link-button h3 {
        margin: 0;
    }

    .link-button:focus {
        outline: none;
    }
</style>

{% include "game/sm5_tooltips_include.html" %}

<script>
    function onReady() {
        row = 3;
        {% if game.ranked %}
            row = 4;
        {% endif %}
    }

    document.addEventListener("DOMContentLoaded", onReady);
</script>

{% endblock %}


{% block content %}

<div style="text-align: center;">
    <div style="margin-left: 2rem; margin-right: 2rem; text-align: center;">
        <span title="Game Date"><h2 style="font-size: 25px;">Game on {{ game.get_timestamp()}}</h2></span>
        
        <form method="post" action="/matchmaking" class="inline">
            <input type="hidden" name="mode" value="sm5">
            {% for player in players_matchmake_team1 %}
                <input type="hidden" name="1player{{ loop.index }}" value="{{ player }}">
            {% endfor %}
            {% for player in players_matchmake_team2 %}
                <input type="hidden" name="2player{{ loop.index }}" value="{{ player }}">
            {% endfor %}
            <button type="submit" class="link-button">
                <span title="Matchmake"><h3><a>Rematchmake</a></h3></span>
            </button>
        </form>
        {% if is_admin %}<span title="Admin Page"><h3><a href="/admin/game/sm5/{{ game.id }}/">Admin Page</a></h3></span>{% endif %}
        <span><h3><a href="/api/game/sm5/{{ game.id }}/tdf">Game File</a></h3></span>
        <span title="Replay"><h3><a href="/game/sm5/{{ game.id }}/replay">Replay</a></h3></span>
    </div>
    <div class="userlist" style="text-align: left;">
        <div id="teams">
            {% for team in teams %}
                <div id="{{ team.color }}_team" class="team">
                    <h2 style="font-size: 20px;" class="team_score {{ team.css_class }}">{{ team.element }} Team: {{ team.score }}{{team.score_adjustment_string}}</h2>

                    <div class="outer-scrolling-table">
                        <div class="inner-scrolling-table">
                            <table id="{{ team.color }}_table">
                                <th class="role fixed-column" {{ tooltip("sm5_role") }}><p>Role</p></th>
                                <th class="second-fixed-column" {{ tooltip("sm5_codename") }}><p>Codename</p></th>
                                {% if game.ranked %}
                                    <th {{ tooltip("sm5_rating") }}><p>Rating</p></th>
                                {% endif %}
                                <th {{ tooltip("sm5_score") }}><p>Score</p></th>
                                <th {{ tooltip("sm5_positive_score") }}><p>Positive Score</p></th>
                                <th {{ tooltip("sm5_points_minute") }}><p>PPM</p></th>
                                <th {{ tooltip("sm5_lives_left") }}><p>Lives Left</p></th>
                                <th {{ tooltip("sm5_alive") }}><p>Alive</p></th>
                                <th {{ tooltip("sm5_shots_left") }}><p>Shots Left</p></th>
                                <th {{ tooltip("sm5_accuracy") }}><p>Accuracy</p></th>
                                <th {{ tooltip("sm5_kd_ratio") }}><p>K/D Ratio</p></th>
                                <th {{ tooltip("sm5_states") }}><p>States</p></th>
                                <th {{ tooltip("sm5_missiled_other") }}><p>Missiled Other</p></th>
                                <th {{ tooltip("sm5_missiled") }}><p>Missiled</p></th>
                                <th {{ tooltip("sm5_shot_team") }}><p>Shot Team</p></th>
                                <th {{ tooltip("sm5_missiled_team") }}><p>Missiled Team</p></th>
                                <th {{ tooltip("sm5_medic_hits") }}><p>Medic Hits</p></th>
                                <th {{ tooltip("sm5_mvp_points") }}><a href="https://lfstats.com/pages/aboutSM5#:~:text=Lose%203%20lives-,MVP%20Points,-All%20Players" target="_blank"><p>MVP Points</p></a></th>
                                {% for player in team.players_with_sum %}

                                    <tr class="{{ player.css_class }}">
                                        <td class="role fixed-column" style="width: 30px"><p>{{ sm5_role_icon(player) }}</p></td>
                                        <td class="second-fixed-column">{{ player_with_penalties(player) }}</td>
                                        {% if game.ranked %}
                                            {% if player.entity_end and player.entity_end.current_rating_mu %}
                                                <td title="mu: {{ player.entity_end.current_rating_mu|round(2) }}, sigma: {{ player.entity_end.current_rating_sigma|round(2)}}">{{ (player.entity_end.current_rating_mu - 3 * player.entity_end.current_rating_sigma)|round(2) }}</td>
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                        {% endif %}
                                        {% if player.player_info.is_member %}
                                            <td title="Scorecard"><a href="/game/sm5/{{game.id}}/scorecard/{{player.entity_end.id}}">{{ player.score }}</a></td>
                                        {% else %}
                                            <td>{{ player.score }}</td>
                                        {% endif %}
                                        <td><p>{{ player.get_gross_positive_score() }}</p></td>
                                        <td><p>{{ player.points_per_minute }}</p></td>
                                        <td><p>{{ player.lives_left }}</p></td>
                                        <td class="scorecard_player_stat" {{ tooltip("sm5_alive") }}>
                                        {% if player.entity_end %}
                                        <div style="display: flex">
                                            <div class="mini-chart">
                                                <canvas id="time_in_game_{{player.entity_end.id}}"></canvas>
                                            </div>
                                            <span style="margin: auto">{{ player.time_in_game_str }}</span>
                                        </div>
                                        {% endif %}
                                        </td>
                                        <td><p>{{ player.shots_left }}</p></td>
                                        <td title="{{player.shots_hit}}/{{player.shots_fired}}"><p>{{ player.accuracy_str }}</p></td>
                                        <td title="{{player.shot_opponent}}/{{player.times_zapped}}"><p>{{ player.kd_ratio_str }}</p></td>
                                        <td class="scorecard_player_stat" {{ tooltip("sm5_states") }}>
                                        {% if player.entity_end %}
                                            <div class="mini-chart" style="margin: auto">
                                                <canvas id="uptime_{{player.entity_end.id}}"></canvas>
                                            </div>
                                        {% endif %}
                                        </td>
                                        <td><p>{{ player.missiled_opponent }}</p></td>
                                        <td><p>{{ player.times_missiled }}</p></td>
                                        <td><p>{{ player.shot_team }}</p></td>
                                        <td><p>{{ player.missiled_team }}</p></td>
                                        <td><p>{{ player.medic_hits }}</p></td>
                                        <td><p>{{ "%.2f" % (player.mvp_points | round(2)) }}</p></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="stats">
            <div class="score-chart">
                <canvas id="score_chart"></canvas>
            </div>
            <div class="lives-chart" >
                <canvas id="lives_chart" style="clear: both;"></canvas>
            </div>
            <div class="win-draw-chance">
                <div class="win-chance-before-game">
                    <canvas id="win_chance_before_game" style="clear: both;"></canvas>
                </div>
                <div class="win-chance">
                    <canvas id="win_chance" style="clear: both;"></canvas>
                </div>
            </div>
        </div>

        <div style="clear: both;"></div>

        <h1 class="desktop_notif">For more detailed stats, please view the website on desktop.</h1>
    </div>
</div>


<script>
    new Chart("score_chart", {
        type: "line",
        data: {
            labels: {{score_chart_labels}},
            datasets: [
            {% for team in teams %}
            {
                label: "{{ team.element }} Team Score",
                data: {{score_chart_data[team.team]}},
                borderColor: "{{ team.css_color_name }}",
                backgroundColor: "{{ team.css_color_name }}",
                fill: false,
                tension: 0.4,
                pointRadius: 0,
                pointHitRadius: 10
            }{{ "," if not loop.last }}
            {% endfor %}
            ]
        },
        options: {
            maintainAspectRatio: false,
            plugins: {
                {{ notable_events_annotation(notable_events) }},
                tooltip: {
                    callbacks: {
                        title: tooltip_minute_to_mmss
                    }
                },
                // change label colors to white
                legend: {
                    labels: {
                        color: "white"
                    }
                },
                title: {
                    display: true,
                    text: "Score Over Time",
                    color: "white"
                }
            },
            scales: {
                x: {
                    type: "linear",
                    ticks: {
                        color: "white",
                        callback: tick_minute_to_mmss
                    },
                    title: {
                        display: true,
                        text: "Time",
                        color: "white"
                    }
                },
                y: {
                    type: "linear",
                    ticks: {
                        color: "white",
                    },
                    title: {
                        display: true,
                        text: "Score",
                        color: "white"
                    }
                }
            }
        }
    });

    new Chart("lives_chart", {
        type: "line",
        data: {
            labels: {{score_chart_labels}},
            datasets: [
            {% for chart in lives_over_time %}
            {
                label: "{{ chart.label }}",
                data: {{ chart.data }},
                borderColor: "{{ chart.color }}",
                backgroundColor: "{{ chart.color }}",
                fill: false,
                tension: 0.4,
                pointRadius: 0,
                pointHitRadius: 10
            }{{ "," if not loop.last }}
            {% endfor %}
            ]
        },
        options: {
            maintainAspectRatio: false,
            responsive: true,
            plugins: {
                {{ notable_events_annotation(notable_events) }},
                tooltip: {
                    callbacks: {
                        title: function(tooltipItem) {
                            // show formatted time
                            var time = this.chart.data.labels[tooltipItem[0].dataIndex];

                            if (time.toString().endsWith(".5")) {
                                return time.toString().slice(0, -2) + ":30";
                            } else {
                                return time + ":00";
                            }
                        },
                    }
                },
                // change label colors to white
                legend: {
                    labels: {
                        color: "white"
                    }
                },
                title: {
                    display: true,
                    text: "Average Lives Over Time",
                    color: "white"
                }
            },
            scales: {
                x: {
                    type: "linear",
                    ticks: {
                        color: "white",
                        callback: tick_minute_to_mmss
                    },
                    title: {
                        display: true,
                        text: "Time",
                        color: "white"
                    }
                },
                y: {
                    type: "linear",
                    ticks: {
                        color: "white",
                    },
                    title: {
                        display: true,
                        text: "Score",
                        color: "white"
                    }
                }
            }
        }
    });

    {% if game.ranked %}
    new Chart("win_chance_before_game", {
        type: "pie",
        data: {
            labels: ["{{ teams[0].element }}", "{{ teams[1].element }}"],
            datasets: [{
                backgroundColor: ["{{ teams[0].css_color_name }}", "{{ teams[1].css_color_name }}"],
                data: [{{ (win_chance_before_game[0]*100)|round(2) }}, {{ (win_chance_before_game[1]*100)|round(2) }}]
            }]
        },
        options: {
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                    fullSize: false
                },
                title: {
                    display: true,
                    text: "Predicted Win Chance",
                    color: "white"
                }
            }
        }
    });

    new Chart("win_chance", {
        type: "pie",
        data: {
            labels: ["{{ teams[0].element }}", "{{ teams[1].element }}"],
            datasets: [{
                backgroundColor: ["{{ teams[0].css_color_name }}", "{{ teams[1].css_color_name }}"],
                data: [{{ (win_chance_after_game[0]*100)|round(2) }}, {{ (win_chance_after_game[1]*100)|round(2) }}]
            }]
        },
        options: {
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                    fullSize: false
                },
                title: {
                    display: true,
                    text: "Actual Win Chance",
                    color: "white"
                }
            }
        }
    });
    {% endif %}

    {% for team in teams %}
            {% for player in team.players %}
                {{ uptime_chart(player.entity_end.id, player.state_distribution_pie_chart) }}
                {{ alive_time_chart(player) }}
         {% endfor %}
    {% endfor %}
</script>

</body>

{% endblock %}