{% extends "base.html" %}
{% block title %}Laserball game on {{ game.start_time.strftime("%A, %B %d at %H:%M") }}{% endblock %}


{% block html_head %}

<style>
    .team_box {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0.5em;
        margin-left: 5em;
        margin-right: 5em;
    }

    .team {
        display: inline-block;
        height: 35%;
        padding: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border: 0;
        vertical-align: top;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #teams {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        margin: auto;
        padding: 1rem;
        border: 1px solid lightgray;
        border-collapse: collapse;
        width: 100%;
    }

    th, td, tr {
        text-align: center;
        border: 1px solid lightgray;
    }

    td {
        color: lightgray;
        padding: 2px;
    }

    tr:nth-child(even) {
        background-color: #252525;
    }

    body {
        height: 130vh;
    }

    .role {
        width: 50px;
    }

    .desktop_notif {
        text-align: center;
        display: none;
    }

    #score_chart {
        max-width: 90%;
    }

    #win_chance, #draw_chance {
        max-width: 30%;
    }

    @media screen and (max-width: 1200px) {
        table tr td:nth-child(n+11) {
            display: none;
        }
        
        table tr th:nth-child(n+11) {
            display: none;
        }
    }

    @media screen and (max-width: 991px) {
        .userlist {
            background: none;
            width: 100%;
            height: 100%;
        }

        h2, h3 {
            zoom: 1.5;
        }

        .team_score {
            zoom: 2;
        }

        table {
            table-layout: auto;
        }

        table tr td:nth-child(n+6) {
            display: none;
        }
        
        table tr th:nth-child(n+6) {
            display: none;
        }

        .team {
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
        }

        #teams {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .role {
            width: 75px;
        }

        .desktop_notif {
            display: block;
        }

        #content {
            height: 100%;
        }

        body {
            height: 85%;
        }

        #score_chart {
            max-width: 100%;
        }

        #win_chance, #draw_chance {
            max-width: 100%;
        }

        .win_draw_chance {
            flex-direction: column;
        }
    }
</style>

<script>
    function compareValues(a, b) {
        return (a>b) ? -1 : (a<b) ? 1 : 0;
      }
      
    function sortTable(table, colnum) {
        let rows = Array.from(table.querySelectorAll("tr"));
        
        rows = rows.slice(1);
        
        let qs = `td:nth-child(${colnum})`;
        
        rows.sort( (r1,r2) => {
            let t1 = r1.querySelector(qs);
            let t2 = r2.querySelector(qs);
        
            return compareValues(parseInt(t1.textContent), parseInt(t2.textContent));
        });
        
        rows.forEach(row => table.appendChild(row));
    }

    function onReady() {
        row = 3;
        {% if game.ranked %}
            row = 4;
        {% endif %}

        sortTable(document.getElementById("fire_table"), row)
        sortTable(document.getElementById("earth_table"), row)

        if ({{ earth_score }} > {{ fire_score }}) {
            document.getElementById("teams").appendChild(document.getElementById("fire_team"));
        }
    }

    document.addEventListener("DOMContentLoaded", onReady);
</script>

{% endblock %}


{% block content %}

<div style="text-align: center;">
    <div style="margin-left: 2rem; margin-right: 2rem; text-align: center;">
        <span title="Game Date"><h2 style="font-size: 25px;">Game on {{ game.start_time.strftime("%A, %B %d at %H:%M") }}</h2></span>
        <span title="Replay"><h3><a href="/game/sm5/{{ game.id }}/replay">Replay</a></h3></span>
    </div>
    <div class="userlist" style="text-align: left;">
        <div id="teams">
            <div id="fire_team" class="team">
                <h2 style="font-size: 20px; color: orangered;" class="team_score">Fire Team: {{ fire_score }}</h2>

                <table id="fire_table">
                    <th class="role"><p>Role</p></th>
                    <th><p>Codename</p></th>
                    {% if game.ranked %}
                        <th><p>Current Rating</p></th>
                    {% endif %}
                    <th><p>Score</p></th>
                    <th><p>Lives</p></th>
                    <th><p>Shots</p></th>
                    <th><p>Accuracy</p></th>
                    <th><p>K/D</p></th>
                    <th><p>Missiled Other</p></th>
                    <th><p>Missiled</p></th>
                    <th><p>Shot Team</p></th>
                    <th><p>Missiled Team</p></th>
                    <th><p>Medic Hits</p></th>
                    {% for entity in game.entity_starts %}
                        {% if entity.type == "player" and entity.team.index == 0 %}
                            {% set entity_end = EntityEnds.filter(entity=entity)[0] %}
                            {% set sm5_stats = SM5Stats.filter(entity=entity)[0] %}

                            <tr>
                                <td style="width: 30px"><p><img src="/assets/roles/{{entity.role|string|lower}}_white.png" alt="role image" width="30" height="30"></p></td>
                                {% if entity.entity_id.startswith("@") %}
                                    <td><p>{{ entity.name }}</p></td>
                                {% else %}
                                    <td><a href="/player/{{entity.name}}"><p>{{ entity.name }}</p></a></td>
                                {% endif %}
                                {% if entity_end.current_rating_mu %}
                                    <td title="mu: {{ entity_end.current_rating_mu|round(2) }}, sigma: {{ entity_end.current_rating_sigma|round(2) }}">{{ (entity_end.current_rating_mu - 3 * entity_end.current_rating_sigma)|round(2) }}</td>
                                {% endif %}
                                <td><p>{{ entity_end.score }}</p></td>
                                <td><p>{{ sm5_stats.lives_left }}</p></td>
                                <td><p>{{ sm5_stats.shots_left }}</p></td>
                                <td><p>{{ sm5_stats.shots_fired and ((sm5_stats.shots_hit/sm5_stats.shots_fired)*100)|round(2) }}%</p></td>
                                <td><p>{{ sm5_stats.times_zapped and (sm5_stats.shot_opponent/sm5_stats.times_zapped)|round(2) }}</p></td>
                                <td><p>{{ sm5_stats.missiled_opponent }}</p></td>
                                <td><p>{{ sm5_stats.times_missiled }}</p></td>
                                <td><p>{{ sm5_stats.shot_team }}</p></td>
                                <td><p>{{ sm5_stats.missiled_team}}</p></td>
                                <td><p>{{ sm5_stats.medic_hits}}</p></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
            <div id="earth_team" class="team">
                <h2 style="font-size: 20px; color: greenyellow;" class="team_score">Earth Team: {{ earth_score }}</h2>

                <table id="earth_table">
                    <th class="role"><p>Role</p></th>
                    <th><p>Codename</p></th>
                    {% if game.ranked %}
                        <th><p>Current Rating</p></th>
                    {% endif %}
                    <th><p>Score</p></th>
                    <th><p>Lives</p></th>
                    <th><p>Shots</p></th>
                    <th><p>Accuracy</p></th>
                    <th><p>K/D</p></th>
                    <th><p>Missiled Other</p></th>
                    <th><p>Missiled</p></th>
                    <th><p>Shot Team</p></th>
                    <th><p>Missiled Team</p></th>
                    <th><p>Medic Hits</p></th>
                    {% for entity in game.entity_starts %}
                        {% if entity.type == "player" and entity.team.index == 1 %}
                            {% set entity_end = EntityEnds.filter(entity=entity)[0] %}
                            {% set sm5_stats = SM5Stats.filter(entity=entity)[0] %}
                            <tr>
                                <td><p><img src="/assets/roles/{{entity.role|string|lower}}_white.png" alt="role image" width="30" height="30"></p></td>
                                <td><a href="/player/{{entity.name}}"><p>{{ entity.name }}</p></a></td>
                                {% if entity_end.current_rating_mu %}
                                <td title="mu: {{ entity_end.current_rating_mu|round(2) }}, sigma: {{ entity_end.current_rating_sigma|round(2) }}">{{ (entity_end.current_rating_mu - 3 * entity_end.current_rating_sigma)|round(2) }}</td>
                                {% endif %}
                                <td><p>{{ entity_end.score }}</p></td>
                                <td><p>{{ sm5_stats.lives_left }}</p></td>
                                <td><p>{{ sm5_stats.shots_left }}</p></td>
                                <td><p>{{ sm5_stats.shots_fired and ((sm5_stats.shots_hit/sm5_stats.shots_fired)*100)|round(2) }}%</p></td>
                                <td><p>{{ sm5_stats.times_zapped and (sm5_stats.shot_opponent/sm5_stats.times_zapped)|round(2) }}</p></td>
                                <td><p>{{ sm5_stats.missiled_opponent }}</p></td>
                                <td><p>{{ sm5_stats.times_missiled }}</p></td>
                                <td><p>{{ sm5_stats.shot_team }}</p></td>
                                <td><p>{{ sm5_stats.missiled_team}}</p></td>
                                <td><p>{{ sm5_stats.medic_hits}}</p></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
        <div id="stats">
            <canvas class="inline-block" id="score_chart" style="clear: both;"></canvas>
            <div style="width: 100%; display: flex; align-items: center;" class="win_draw_chance">
                <canvas class="inline-block" id="win_chance" style="clear: both;"></canvas>
                <canvas class="inline-block" id="draw_chance" style="clear: both;"></canvas>
            </div>
        </div>

        <div style="clear: both;"></div>

        <h1 class="desktop_notif">For more detailed stats, please view the website on desktop.</h1>
    </div>
</div>


<script>
    new Chart("score_chart", {
        type: "line",
        data: {
            labels: {{score_chart_labels}},
            datasets: [
            {
                label: "Fire Team Score",
                data: {{score_chart_data_red}},
                borderColor: "orangered",
                fill: false,
                tension: 0.4,
                pointRadius: 0,
                pointHitRadius: 10
            },
            {
                label: "Earth Team Score",
                data: {{score_chart_data_green}},
                borderColor: "greenyellow",
                fill: false,
                tension: 0.4,
                pointRadius: 0,
                pointHitRadius: 10
            }
            ]
        },
        options: {
            tooltips: {
                callbacks: {
                    title: function(tooltipItem, data) {
                        // show formatted time

                        var time = data.labels[tooltipItem[0].index];

                        if (time.toString().endsWith(".5")) {
                            return time.toString().slice(0, -2) + ":30";
                        } else {
                            return time + ":00";
                        }
                    },
                }
            },
            responsive: true,
            // change label colors to white
            legend: {
                labels: {
                    fontColor: "white"
                }
            },
            title: {
                display: true,
                text: "Score Over Time",
                fontColor: "white"
            },
            scales: {
                xAxes: [{
                    ticks: {
                        fontColor: "white",
                        callback: function(value, index, values) {
                            if (value.toString().endsWith(".5")) {
                                return value.toString().slice(0, -2) + ":30";
                            } else {
                                return value + ":00";
                            }
                        },
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "Time",
                        fontColor: "white"
                    }
                }],
                yAxes: [{
                    ticks: {
                        fontColor: "white",
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "Score",
                        fontColor: "white"
                    }
                }]
            }
        }
    });

    new Chart("win_chance", {
        type: "pie",
        data: {
            labels: ["Red", "Green"],
            datasets: [{
                backgroundColor: ["#b91d47","#00aba9"],
                data: [{{ (win_chance[0]*100)|round(2) }}, {{ (win_chance[1]*100)|round(2) }}]
            }]
        },
        options: {
            legend: {
                display: false,
                fullSize: false
            },
            title: {
                display: true,
                text: "Predicted Win Chance",
                fontColor: "white"
            }
        }
    });

    new Chart("draw_chance", {
        type: "pie",
        data: {
            labels: ["Draw", "No Draw"],
            datasets: [{
                backgroundColor: ["#565656", "lightgray"],
                data: [{{ (draw_chance*100)|round(2) }}, 100-{{ (draw_chance*100)|round(2) }}]
            }]
        },
        options: {
            legend: {
                display: false,
                fullSize: false
            },
            title: {
                display: true,
                text: "Predicted Draw Chance",
                fontColor: "white"
            }
        }
    });
</script>

</body>

{% endblock %}