{% block html_head %}
<link rel="stylesheet" href="../../css/game/sm5_tooltips_include.css">
{% endblock %}

<div style="display: none;">
    <div id="tooltip-sm5-states">
        <div class="legend-color-header">The amount of time the player has spent in various states.</div>

        {% for state in tooltip_info.sm5_state_legend %}
        <div class="legend-color-entry">
            <div class="legend-color-demo" style="background-color: {{ state.color }};"></div>
            <div class="legend-color-description">{{ state.description }}</div>
        </div>
        {% endfor %}
    </div>

    <div id="tooltip-sm5-mvp-points">
        Calculated MVP points for this player in this game. See the formula at
        <a href="https://lfstats.com/pages/aboutSM5#:~:text=Lose%203%20lives-,MVP%20Points,-All%20Players">LFStats</a>.
    </div>
</div>

